[2020-08-03 17:08] sandersn commented on #46511
I'm not sure the incorrect versioning is actually an obstacle here. The real problem is making sure that `@types/koa-helmet` still works after `@types/helmet` is deprecated. There are two ways to do this:

1. Update `@types/koa-helmet` to depend on `helmet@4`. Then remove `@types/helmet`. This is the method I recommend.
2a. Pin `@types/koa-helmet` to depend on `@types/helmet@0.0.47`. Then remove `

[2020-08-03 17:10] sandersn commented on #46511
I just tested an upgrade of `@types/koa-helmet` to `helmet@4` and didn't see any compile errors in index.d.ts or the tests. I think that's the best approach.

The package.json template for DT is pretty simple -- I just copied the one from types/aframe/package.json.

[2020-08-03 18:10] peterblazejewicz commented on #46511
I'm not sure if #1 can work, the native koa-helmet depends on `helmet@3`:
https://github.com/venables/koa-helmet/blob/master/package.json#L29
what's the scenario with.
@EvanHahn
I"ll add `helmet` to allows list, will work anyway

[2020-08-03 18:50] KakakuCZ commented on #38678
Hello, I have same problem when I updated to `7.1.4` ...

`const elementWithStore = React.createElement(
				ReduxProvider, {
					children: element,
					store: store
				}
			);`

throws
`Argument of type '{ children: React.CElement<{}, React.Component<{}, any, any>>; store: any; }' is not assignable to parameter of type 'Attributes & ProviderProps<Action<any>>'.` ...

Can you give me any advice

[2020-08-03 19:13] EvanHahn commented on #46511
Sounds good! I'll keep an eye on https://github.com/microsoft/DefinitelyTyped-tools/pull/76.

[2020-08-03 23:36] sandersn commented on #46511
If the types are similar, I would still probably update `@types/koa-helmet` with a note in the source. If helmet@5 changes radically then we can pin its dependency to `helmet@4`.

[2020-08-04 08:08] duskmoon314 commented on #31245
I'm upgrading dep to @types/react 16.9.44 and facing the same problem. This works for me.

[2020-08-04 08:37] SaraKoncz opened #46545 "@types/react-datepicker - renderCalendarTo is not included"
It seems `renderCalendarTo` is not included in index.d.ts
This property also not properly documented in react-datepicker, but used by many users, please see issue below:
[react-datepicker/issues/520](https://github.com/Hacker0x01/react-datepicker/issues/520)

Would be a great help to include it in the index.d.ts, preferably not with `any` as type.

Authors: @andrewBalekha , @smrq

[2020-08-04 12:43] n0x3u5 opened #46548 "Missing Type Definitions for autoType function in d3-dsv?"
- [x] I tried using the `@types/d3-dsv` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see `

[2020-08-04 13:57] EvanHahn commented on #46511
It looks like https://github.com/microsoft/DefinitelyTyped-tools/pull/76 has been merged but not deployed, so I don't think I can remove `helmet` from this repo yet. Maybe that's wrong!

@sandersn How would you update `@types/koa-helmet`? What would you change? If relevant, `helmet@4`'s types are fairly different from `helmet@3`.

I realize I don't know much about how DefinitelyTyped operates...ap

[2020-08-04 14:48] jakubjirkal opened #46550 "[mongoose] problems using generic type (<T extends Document>)"
- [x] I tried using the `@types/mongoose` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inapprsuopriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (s

[2020-08-04 15:08] andreialecu commented on #46550
The correct signature for your `genericCreateDoc` would be:

[code]

For your second case I'm not sure what's going on without investigating, but why not use `model.findById(inputId)` instead?

[2020-08-04 15:34] jakubjirkal commented on #46550
`genericFindById` was just a simplified example of this scenario:
[code]

Shouldn't this be correct?

[2020-08-04 15:41] andreialecu commented on #46550
There seems to be some sort of problem when using generics `extends` with `find`.

[code]

Caused by `MongooseFilterQuery<T>` somehow. https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/mongoose/index.d.ts#L168-L177

cc @avaly

As a workaround you could use `return model.find({ name: inputName } as any)` to get past the error.

[2020-08-04 16:25] avaly commented on #46550
AFAIK `mongoose.Document` has `_id: any`. If you defined your `_id` in your model interface as `ObjectId` or `string`, it should work. :crossed_fingers:

[2020-08-04 16:27] Mdsp9070 commented on #46207
any progress?

[2020-08-04 18:02] andreialecu commented on #46550
@avaly While troubleshooting it I tried adding the `_id` to the model in various ways but couldn't get past the error. I didn't look to deeply into it, but if you copy the code above to one of the tests you can see it yourself.

[2020-08-04 20:48] sandersn commented on #46511
Yeah, there was a deployment problem so I had to manually restart deployment.

The way I would update @types/koa-helmet is just to add a package.json with a dependency on `helmet@4`, then see what breaks. When I did the upgrade, *nothing* broke, which indicates either that `@types/koa-helmet` is missing tests, or that it doesn't use helmet very deeply.

If the types for helmet 3 and 4 are quite di

[2020-08-04 20:51] peterblazejewicz commented on #46511
@sandersn well-laid, sir! thx!

[2020-08-05 08:31] reynard2007 opened #46564 "(@types/d3-hierarchy) Suggestion: Add constrain to Datum type"
Is something wrong with CI or publishing infrastructure?

- Check the [Infrastructure status updates](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/44317) thread for known issues.
- Leave a message on the [DefinitelyTyped Gitter](http://gitter.im/DefinitelyTyped/DefinitelyTyped).

If you know how to fix the issue, make a pull request instead.

- [x] I tried using the `@types/d3-hierarc

[2020-08-05 10:14] jakubjirkal commented on #46550
Thanks for your response.
@avaly Wouldn't re-defining _id in model interface be unnecessary? It would be very time consuming to do so in large codebase as well.

Will you be looking further into it / fixing it? It would help a lot.

[2020-08-05 11:44] andreialecu commented on #46550
Simpler repro:

[code]

[2020-08-05 12:18] andreialecu commented on #46550
I've done some more digging and I believe this is a current TypeScript limitation.

The following fails to compile and it is similar to the conditional used in `MongooseFilterQuery<T>`:

[code]

See https://github.com/microsoft/TypeScript/issues/39521 for a similar report, apparently a fix is on the way. You may need to resort to a workaround for now.

[2020-08-05 13:25] EvanHahn commented on #46511
Helmet 4 removed a few things and some options are different. I'm not sure how different is too different, but the types are most definitely incompatible. Does that answer your question?

[2020-08-05 14:22] tnetennba3 opened #46571 "[@types/jest] Unable to compile latest version when isolatedModules enabled"
Hello 👋

The latest version of [@types/jest](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/jest/package.json) includes a problematic jest-diff dependency. This [version](https://github.com/facebook/jest/blob/a679390828b6c30aeaa547d8c4dc9aed6531e357/packages/jest-diff/package.json) of jest-diff depends on a version of chalk that prevents Typescript from compiling when isolate

[2020-08-05 16:16] MrKartoshka commented on #14814
No info about this update?

[2020-08-05 18:15] SethDavenport commented on #12141
There is a typedef for the PUBSUB command but it appears to be incorrect.

If I'm reading this right, it means that we're assuming that the data retrieved from redis is of type `number`:

![image](https://user-images.githubusercontent.com/4614141/89448533-c52c5480-d725-11ea-903e-2d4936d38a15.png)

![image](https://user-images.githubusercontent.com/4614141/89448594-dd9c6f00-d725-11ea-9e0e-96af27a7a

[2020-08-05 19:29] #43553 closed

[2020-08-05 19:43] dimitropoulos commented on #45062
The report back is that this won't be possible until https://github.com/microsoft/TypeScript/issues/29729 is in.

It seems like it'll be implemented over on `lib.dom.d.ts` anyway so I'm fine with closing this (for now, anyway).

note @eps1lon that in addition to the [`(string & {})` hack](https://github.com/microsoft/TypeScript/issues/29729#issuecomment-661959682), there's also a utility in [type-

[2020-08-05 19:43] #45062 closed

[2020-08-06 08:37] galilmori opened #46588 "AbstractSeriesProps types does not include svg <rect> styles"
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/a4a44ec932fc900325052bc8a3d655f6684dce37/types/react-vis/index.d.ts#L268

Since in the BarSeries styles are used in a  <rect/>, IMHO it should include svg styles such as rx ry. when I try to modify corners of bars i have to declare rx and ry as any at at the moment.

[2020-08-06 11:21] Ogglas opened #46591 "[@types/jest] `npm i @types/jest` causes http 404 Not found"
`npm i @types/jest` causes http 404.

Command from:

https://www.npmjs.com/package/@types/jest

Even if you type `npm i @types/jest@26.0.9` it will still try to fetch `@jest/types@^25.5.0'`. `npm i @types/jest@25.2.3` will work.

https://registry.npmjs.org/@jest%2ftypes

[code]

- [x] I tried using the `@types/jest` package and had problems.
- [x] I tried using the latest stable version of tsc. ht

[2020-08-06 15:58] tarun1992 opened #46597 "InitialSettings declaration type missing in index.d.ts in bootstrap-date-range-picker"
I am working on an application that uses Reaact+Typescript and I am using react-bootstrap-daterangepicker modue to implement a date picker. While implementing this, with the below code
 `<DateRangePicker startDate="1/1/2014" endDate="3/1/2014"
			initialSettings={{locale:locale}}

        <input type="text" className="form-control" />
      </DateRangePicker>`
I am getting below  error
`No overloa

[2020-08-06 18:44] wsmd commented on #46591
[code]

@Ogglas it looks like you're trying to install `@jest/types` (it's the other way around `@types/jest`)

[2020-08-06 18:59] ProdigySim commented on #35572
It looks like this project has 3 overloads for `useRef()`, do we need all 3? It seems like the `useRef<T>(null)` case is the one developers will use most of the time.

[code]

1. What is the expect use case of the two mutable overloads?
2. Is there some other way this can be supported to that users can more easily find the "correct" overload?

[2020-08-06 20:19] chrisMYchen opened #46602 "[@types/styled-system] Types don't map props correctly for styles with styled components"
Is something wrong with CI or publishing infrastructure?

- Check the [Infrastructure status updates](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/44317) thread for known issues.
- Leave a message on the [DefinitelyTyped Gitter](http://gitter.im/DefinitelyTyped/DefinitelyTyped).

If you know how to fix the issue, make a pull request instead.

- [x] I tried using the `@types/styled-sys

[2020-08-06 21:20] chrisMYchen commented on #46602
I see I'm supposed to define my own types for the generated component. Nevermind. Fix is to as such

[code]

[2020-08-06 21:20] #46602 closed

[2020-08-06 22:08] Ogglas commented on #46591
Works again now

[2020-08-06 22:08] #46591 closed

[2020-08-06 22:28] dschinkel opened #46603 "Argument of type 'typeof InterviewContainer' is not assignable to parameter of type 'ComponentType<never>"
What am I missing? TS frustrates me to no end.

Using:
[code]

`TS2345: Argument of type 'typeof InterviewContainer' is not assignable to parameter of type 'ComponentType<never>'.   Type 'typeof InterviewContainer' is not assignable to type 'ComponentClass<never, any>'.     Construct signature return types 'InterviewContainer' and 'Component<never, any, any>' are incompatible.       The types of '

[2020-08-07 12:21] senyaak opened #46611 "tv4 - errorCodes"
The tv4 errorCodes can be implemented as an Enum(currently is an map interface). I do not have time to do that now, will be nice if someone could take care of it :)

[2020-08-07 17:52] sandersn commented on #46511
It sounds like the best thing is to have `@types/koa-helmet` depend on `@types/helmet@3` then.

[2020-08-07 18:46] EvanHahn commented on #46511
Agreed. Should I change its references to `'helmet'` to `'@types/helmet'`, or something else? Again, pardon my DefinitelyTyped foolishness.

[2020-08-07 19:29] vlsi commented on #16860
@rbuckton, I'm trying to understand how `__promisify__` works, and I fail to find where it is implemented.
Is it somewhere in the TypeScript compiler?

[2020-08-07 21:07] sandersn commented on #46511
No need to changes its code; instead you need to add a package.json with a reference to `@types/helmet`. `types/aframe/` is a good example (except it depends on three, not helmet).

[2020-08-07 23:51] rbuckton commented on #16860
`__promisify__` is used to override the type returned by Node's `promisify` function exported by the `"util"` module:

[code]

At runtime, NodeJS actually uses a symbol attached to certain functions to override the behavior of `util.promisify`, but we have no way to easily augment the type of a function declaration with a symbol-named export in TypeScript today, so `__promisify__` acts as a stand-

[2020-08-07 23:52] rbuckton commented on #16860
See the declarations of `promisify` and `CustomPromisify` in the _util.d.ts_ file of the Node typings to see how its used.

[2020-08-08 02:48] 1w3j commented on #4786
@TeamworkGuy2  lib.d.ts is no longer available, still need definitions for IndexedDB

[2020-08-08 04:34] noahbrenner commented on #4212
I agree with @Hoishin. The docs say that `express` detects error-handling middleware functions based on them having 4 parameters (scroll down to "Error-handling middleware" in [this section](http://expressjs.com/en/4x/api.html#app.use)).

If I understand correctly, that means that a function with 4 parameters will *never* be treated as anything *other* than an error handler, so this sounds like so

[2020-08-08 04:46] noahbrenner commented on #4212
For anyone in search of a workaround for passing an arrow function: You can wrap the function in another set of parentheses before making the type assertion:

[code]

[2020-08-08 06:40] vlsi commented on #16860
Oh, thanks. I thought `__promisify__` was a special case in a TypeScript compiler or something like that. Now I see that it is just a funny name rather than a special case. Thanks.

[2020-08-09 02:33] TeamworkGuy2 commented on #4786
Looks like microsoft refactored the TypeScript definitions. Try [lib.dom.d.ts](https://github.com/microsoft/TypeScript/blob/master/lib/lib.dom.d.ts)

[2020-08-09 15:08] martin-badin commented on #45897
@peterblazejewicz The branch is now updated. The folder structure is the same as in the bootstrap repository. Can you please check again?

[2020-08-09 17:10] adumesny commented on #29312
I'm getting the error as well using `string | HTMLElement` (which is valid), latest rev "@types/jquery": "^3.5.1" and `typescript@3.4.5`

the link above for the rejection is broken. Too bad there isn't a fix.

[2020-08-09 18:21] TheInvoker opened #46639 "Error: Interface 'Response<ResBody>' incorrectly extends interface 'Response'"
When I compile from typescript I get this bug

[code]

from my package.json

[code]

Anyone know what's wrong?

[2020-08-10 05:29] abdatta opened #46648 "Missing callback types for global queue events in @types/bull"
Missing `global:` event names and their corresponding callback types, from queue listeners.
We have types for all the local events as below:
[code]
and we have a fallback type for other events (that includes global events as of now):
[code]
Using this definition for global events loses the type for the callbacks. So I believe we should have support for specific types for all the global events. If

[2020-08-10 17:11] Streeterxs opened #46658 "[@types/oauth2-server] Types isn't supporting generator functions"
As mentioned [here](https://oauth2-server.readthedocs.io/en/latest/model/spec.html#model-specification) generator fn is supported by a model obj.

The solution maybe be arround using IterableIterator and Generator interfaces.

- [x] I tried using the `@types/xxxx` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a

[2020-08-11 09:19] uwemeier-sclable opened #46670 "[@types/echarts] renderItem in @types/echarts/options/series/custom.d.ts defined incorrectly"
It looks like the definition of `renderItem` of interface `SeriesCustom` just got parsed according to the [Echarts documentation](https://echarts.apache.org/en/option.html#series-custom.renderItem). However, `renderItem` needs a function similar to `function (params: object, api: object): object` rather than an object with
[code]

As a workaround, the function can be casted to `object`.

I'm sorry

[2020-08-11 10:22] selfrefactor commented on #45741
Actually, `R.__` might be dropped in the future according to this opened PR - https://github.com/ramda/ramda/pull/2705/files

[2020-08-11 12:47] roylau134 commented on #36472
any fix ?_?

[2020-08-11 12:49] roylau134 commented on #36472
![image](https://user-images.githubusercontent.com/29243184/89898927-1780e000-dc14-11ea-92b4-509480dccf66.png)

[code]

[2020-08-11 14:56] Sparticuz opened #46677 "Types for SES notification event types for aws-lambda"
- Authors: @simonbuchan, @darbio, @SachinShekhar (I didn't want to ping all the other contributors, but you three have accepted PR's in the past few months)

This is for aws-lambda types package. Would you be interested in the types for the SES -> SNS -> Notification events? It is a JSON string under event.Records.Sns.Message, but when parsed it is a standard AWS format (https://docs.aws.amazon.co

[2020-08-11 15:34] donbot-dev commented on #41116
With `esModuleInterop: true` you must write import's like `import * as` for libraries using `export default`.

[code]

[2020-08-12 00:13] darbio commented on #46677
The documentation says that it's a json object? Are you saying it's a string that needs to be parsed?

Either way, I think the types would be helpful, but I don't know if they fit in the aws-lambda package (being aws lambda specific).

Is there an SNS or SES package that would be more appropriate?

[2020-08-12 00:41] simonbuchan commented on #46677
I'm on my phone so I can't find it right now, but we do have some existing types that are parsed from a string by the user.

I'm fine with this, as to me the purpose of this package is to provide the typings determined by AWS that you have to deal with in a lambda. It is a bit of a grey area if you consider the type to be determined by another AWS other service, but all triggers essentially are th

[2020-08-12 02:23] renatogbp commented on #23976
I am using NestJS, and declaring a global User did not work for me. Still getting this error:
[code]

[2020-08-12 06:37] roymilder commented on #46639
had the same error. you've probably defined/extended your own Response interface somewhere in your code.
change your definition to:

[code]

check ```node_modules/@types/express-serve-static-core/index.d.ts#845```

[2020-08-12 10:30] eps1lon commented on #43848
Check out https://github.com/DefinitelyTyped/DefinitelyTyped/blob/7ec01838c4ba1066b3c456492473dcaa44ddf5cd/types/react/experimental.d.ts#L1-L25 on how to add typings for `react@experimental`

[2020-08-12 11:25] Simon-SDK opened #46689 "Types for APIGatewayEvent not compatible - aws-lambda"
Authors: @simonbuchan, @SachinShekhar

I found an issue with the types of (regular) APIGateWayEvent. It seems to simply copy the APIGateWayProxyEvent (Line 162: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/c45d5b3a965365ba0263f756c4f4554a659850a6/types/aws-lambda/trigger/api-gateway-proxy.d.ts#L162

In reality those two are not identical.

A regular non-proxy response from ApiGateWay do

[2020-08-12 11:51] eps1lon opened #46691 "[RFC] React 18 and types-only breaking changes"
Edit: We're likely not doing that in 17 but 18 to make the 17 upgrade as easy as possible. See https://github.com/DefinitelyTyped/DefinitelyTyped/issues/46691#issuecomment-672840456 for more context.

Among active contributors we talked informally about making some breaking changes to `@types/react` in an upcoming major release of React that we think will improve the typings long-term. Now that a

[2020-08-12 11:56] ferdaber commented on #46691
I think one change we should consider is finally moving the JSX namespace under `React.createElement`. This will finally allow consumers to use multiple JSX compilers in the same codebase without the intrinsic elements colliding with each other.

[2020-08-12 11:58] ferdaber commented on #46691
From the TS docs:

[2020-08-12 12:06] timkrins commented on #44909
the `CsvViewer` component has no props, so it would be rather useless.

[2020-08-12 12:24] gaearon commented on #46691
It hasn’t been deleted, just doesn’t do anything now. So I don’t think it should be removed.

[2020-08-12 12:27] gaearon commented on #46691
One important note about this release that might not be obvious from the blog post.

**It is very important that React 17 is easy to upgrade to because for legacy screens in huge apps it might be the last release they will upgrade to.**

This is why even already announced deprecations (like removing UNSAFE versions, legacy context, renderSubtree) are **not** included in this release. They will be

[2020-08-12 12:40] eps1lon commented on #46691
Works for me. Though at some point the typings have to include some breaking changes exclusive to types.

The way TypeScript works might also prevent having multiple major versions of react (with their respective typings) in a codebase anyway (since they affect the global namespace). So that is definitely something we should investigate in the coming months. We might have to release a breaking cha

[2020-08-12 12:43] gaearon commented on #46691
Seems like porting https://github.com/reactjs/react-gradual-upgrade-demo to TS and figuring out what the issues are is going to be the next step.

[2020-08-12 12:49] simonbuchan commented on #46689
The comment above is:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/c45d5b3a965365ba0263f756c4f4554a659850a6/types/aws-lambda/trigger/api-gateway-proxy.d.ts#L159

These are very old names that did not describe the actual type at all, which is why they were renamed to better, more descriptive names for precisely the reason that what you get from API Gateway can be essentially completely a

[2020-08-12 12:51] ferdaber commented on #46691
Regardless of when we release this (with 17 vs with 18), we should probably start work on this fork anyway, so we can be better prepared when the time comes. We unfortunately cannot add runtime warnings (only deprecation annotations which aren't always possible to make obvious in an IDE) so we don't have the advantage of being able to warn users effectively.

[2020-08-12 13:27] lincolnthree commented on #46066
Now that you mention it, however. I believe the '.lean()' change came down a few versions prior. I don't know which one introduced it.

[2020-08-12 14:34] Sparticuz commented on #46677
Yes, it's a json string that needs to be parsed. I'm not using any other package, other than aws-sdk.

The lambda function gets triggered from a SNS event. Basically any email sent from SES, will trigger a SNS message stating delivery, bounce, spam status, etc... which then triggers Lambda and sends that JSON object as a string in event.Records[].Sns.Message.
[code]

notification is that object.

[2020-08-12 18:25] OliverJAsh commented on #46691
Could we also consider fixing https://github.com/DefinitelyTyped/DefinitelyTyped/issues/35622, whenever we make the other breaking changes mentioned here?

[2020-08-12 18:41] eps1lon commented on #46691
I think that would be fixed by removing implicit `children`. That one is already included in the list.

[2020-08-12 19:00] hhorton2 commented on #33822
for you windows folks out there use powershell:
`rm -recurse -force node_modules; yarn remove @types/react; yarn; yarn add --dev @types/react; npx yarn-deduplicate --packages @types/react yarn.lock
`

[2020-08-12 19:31] OliverJAsh commented on #46691
Hmm, but what if you still wanted to allow any `ReactNode` as a child, e.g. you specified `children: ReactNode` explicitly?

[2020-08-12 20:03] Simon-SDK commented on #46689
Ahh, I had missed the legacy part. Does that mean that these types need a complete makeover? I am actually using regular api gateway but without proxy (not the newer http v2).
Could a solution be to add a “query?“ to APIGatewayProxyEventBase?

[2020-08-12 20:26] SachinShekhar commented on #46689
If your use case is non-proxy, why do you want to mess into `api-gateway-proxy.d.ts` file?

[2020-08-12 22:57] eps1lon commented on #46691
You could still do that which we usually recommend. By removing implicit `children` any `children` type that is too wide is responsibility of the typings author and no longer ours.

[2020-08-12 23:09] simonbuchan commented on #46689
Proxy here means the lambda proxy integration method of API gateway, which unfortunately has several other names. If you're not using that, then you're defining the mapping yourself, so there's no type we can usefully provide. If you're using the proxy integration, then maybe you've found a fault with the type, but it's very well established (probably the first!) so you've got a high burden to sho

[2020-08-12 23:15] chobo2 opened #46710 "@types/smartwizard missing enableURLhash"
Hi

This package (https://www.npmjs.com/package/@types/smartwizard)  is missing enableUrlHash (maybe others I have not fully gone through it yet)

http://techlaboratory.net/jquery-smartwizard

[code]

[2020-08-12 23:20] chobo2 commented on #46710
also missing: includeFinishButton

[2020-08-12 23:23] chobo2 commented on #46710
also missing things like $('#smartwizard').smartWizard("next");

[2020-08-13 01:43] sylvanaar commented on #31065
I'm unclear if the `createRef` portion of the topic moved - but I will post here also.

I use a popular navigation library for React Native (React Navigation). In its documentation it commonly calls `createRef` and then mutates the ref. I am sure that this is because React isn't managing them (there is no DOM).

Should the type for React Native be different?

See: https://reactnavigation.org/docs/

[2020-08-13 03:29] #45952 closed

[2020-08-13 04:49] OliverJAsh commented on #46691
We would still need a type that represents a valid React child node. `ReactNode` should be that but currently it includes `{}` which makes it useless, since that type is assignable to lots of things. As a breaking change I would like to see `{}` removed so we can actually rely on `ReactNode` when we want our components to accept children of type `ReactElement`, fragment, boolean, string or number.

[2020-08-13 04:57] rhys-vdw commented on #44453
Yep. IIRC the types used to be for some leaflet plugin, and I left them at the bottom of the file. This was one of my earlier forays into typing... I'm pretty sure the leaflet stuff simply should not exist in this type set.

[2020-08-13 09:45] eps1lon commented on #35622
Technically `react` shouldn't be responsible for declaring what type a host component accepts. The renderer decides that as far as I know. The question is if it makes practically sense to restrict `ReactNode` to `number | boolean | null | undefined | string | React.ReactElement | React.ReactElement[]`.

What types do host components in react-native accept?

[2020-08-13 09:47] eps1lon commented on #46691
Right, forgot about that. Let's discuss a possible path forward in https://github.com/DefinitelyTyped/DefinitelyTyped/issues/35622#issuecomment-673378489 and then include it here.

[2020-08-13 11:01] koocbor commented on #36767
Changing the import statement to:

[code]

corrects this error.

[2020-08-13 11:18] Simon-SDK commented on #46689
I'm not sure I follow, so made a small example under.

When a lambda uses proxy integration, the event will look like this:
`curl https://long-url-here/?akey=here-is-a-key&anotherkey=wow`

**Response**
`{
    "resource": "/",
    "path": "/",
    "httpMethod": "GET",
    "headers": {REMOVED},
    "multiValueHeaders": { REMOVED },
    "queryStringParameters": {
        "akey": "here-is-a-key",

[2020-08-13 11:27] Simon-SDK commented on #46689
Just wanted to at a response example when using HTTP Api:

**Response**
`{
    "version": "1.0",
    "resource": "/test",
    "path": "/test",
    "httpMethod": "GET",
    "headers": {REMOVED},
    "multiValueHeaders": {REMOVED},
    "queryStringParameters": {
        "akey": "here-is-a-key",
        "anotherkey": "wow"
    },
    "multiValueQueryStringParameters": {
        "akey": [

[2020-08-13 12:19] BKamleitner opened #46716 "FormContext getControl returns Controls.Control"
Can getControl return Controls.StandardControl in @types\xrm\index.d.ts Authors: @scottdurow  such that isVisible (and others) are available?

Like it is now someone has to do:

(formContext.getControl("somefield") as Xrm.Controls.StandardControl).getDisabled() or am i missing something?

[2020-08-13 12:21] #46716 closed

[2020-08-13 12:27] BKamleitner opened #46717 "@types/xrm"
Can getControl return Controls.StandardControl in @types\xrm\index.d.ts Authors: @scottdurow  such that isVisible (and others) are available?

Like it is now someone has to do:

(formContext.getControl("somefield") as Xrm.Controls.StandardControl).getDisabled() or am i missing something?

[2020-08-13 12:32] bela53 commented on #46691
I would like to see  adjustments for the [`FC`/`FunctionComponent`](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/b4330da/types/react/index.d.ts#L547) and class component [`render`](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/b4330da/types/react/index.d.ts#L494) return type as well.

In their current form, these types can either lead to run-time errors or are too restrictive

[2020-08-13 12:49] eps1lon commented on #20356
This is essentially a duplicate of #18912. Once  Microsoft/TypeScript#21699 is resolved we should be able to use `ReactNode` as a valid return type for function components which includes `string` and `boolean`.

[2020-08-13 12:49] eps1lon commented on #20249
This is essentially a duplicate of #18912. Once  Microsoft/TypeScript#21699 is resolved we should be able to use `ReactNode` as a valid return type for function components which includes `string` and `boolean`.

[2020-08-13 12:49] eps1lon commented on #33006
This is essentially a duplicate of #18912. Once  Microsoft/TypeScript#21699 is resolved we should be able to use `ReactNode` as a valid return type for function components which includes `string` and `boolean`.

[2020-08-13 12:50] eps1lon commented on #46691
@bela53 We can't do anything about the return type of components. TypeScript restricts  these. We need https://github.com/microsoft/TypeScript/issues/21699 first.

[2020-08-13 13:22] aethelz commented on #38173
Explicitly typing map seems excessive and cumbersome, it is easier to simply replace it with mapObjIndexed to prevent ambiguity.
I think there might be some easier solution in the future, but for now it seems reasonable.

[2020-08-13 16:40] mhernik opened #46724 "Property 'MandateId' does not exist on type 'PayInData'."
Request to get PayIn returns two properties that are not typed:
* MandateId: string
* StatementDescriptor: string

Those attributes are missing in interface

Authors: @ifiokjr

[2020-08-13 19:48] cezaraugusto commented on #28884
This issue persists, unfortunately. The fix I found works but is verbose. I'm using `React.forwardRef`.

[code]

[2020-08-13 19:48] cezaraugusto commented on #28884
This issue persists, unfortunately. The fix I found works but is verbose. I'm using `React.forwardRef`.

[code]

[2020-08-13 21:01] HyperCharlie commented on #46639
I'm getting this right now as well; I just double checked and I do not have "Response" anywhere in my codebase, so I definitely haven't tampered with it. I'm seeing this in VSCode on Windows.

[2020-08-13 21:10] TheInvoker commented on #46639
I was able to fix this error. I first tried to re-create this as a minimal code needed to re-produce (in a sub folder in my main project) and everything worked fine, and then I started copying  all my main files into that minimal example and it still worked. Pretty soon I had my whole project in that sub folder and it worked there. So then I just deleted my main code and moved the sub folder conte

[2020-08-14 02:39] SachinShekhar commented on #46689
These types are only meant to be used in Lambda (package name is: `@types/aws-lambda`). For proxies which are not Lambda proxy, simply don't use this package.

[2020-08-14 03:31] julian-sf commented on #34237
@Jomik That's a really good idea, but the typing is _slightly_ off.  Here is a corrected version ([playground link](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAKjgQwM5wEoFNkGN4BmUEIcA5FDvmQNwBQdwAdjFlAXlnAGICuT+YBCYBhEpCZYWAHgAKcALxwA3gF8ANHBEALYABsAJpSaLMVGADpseGADkIBrAD4VdOO7gAKMMTCoAXHDyAGQqcLi6hsaBOvpGUnAa4cKsAB4wAPyByEwAngCUgdb4VuYAonpYIFLwAD5wTLx6evQecD4QYAAquWBYqFlmNhYA6jgA1gBqy

[2020-08-14 04:11] julian-sf commented on #34237
@Jomik Your second solution is great.  [Here is a playground link showing how it would work in practice](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAKjgQwM5wEoFNkGN4BmUEIcA5FDvmQNwBQdMAnmFnAArFioDqwMACwDCA4ABsAJpQB2AHnYA+OAF4OcAGRwA3nFyjJMgPwAuTFRgA6bHhgA5CBLYBfenWDSYWKATxsAYgCu0vjAENJCJJDSWB7yKtpOSlp0cKlwABRgXKim7HBYAB6e0hLoWnriUjGmyNJMTnCGHNl8giKVMvJKuQA0umGeRSYodQCUptb4VuYAomJYIDHwA

[2020-08-14 07:01] Simon-SDK commented on #46689
I know, these events are exactly how they look like when you console.log(event) inside a lambda on either of the 3 methods (proxy, regular and http api aka v2). What are you thinking I am doing?

Im a bit curious, how come the answer is "just dont use this package". The whole idea about the package is to ease the use of lambda when using typescript, but its not usable unless the lambda is either p

[2020-08-14 07:18] simonbuchan commented on #46689
I feel there's some confusion going on here, largely due to the very confusing API Gateway naming, so to be clear:
* `APIGatewayEvent` is just an old name that you should not use, it is only there for compatibility with old code, the correct name is `APIGatewayProxyEvent`. It has always been the proxy event, and only the proxy event.
* `APIGatewayProxyEvent` which implements the [REST API (API Gat

[2020-08-14 07:53] #41970 closed

[2020-08-14 12:13] enrique-ramirez commented on #33690
Issue is still happening and the only way to fix this is to add the mentioned dependencies to your project. This is not ideal, though, so hopefully we'll get a fix soon!

[2020-08-14 13:04] simon-asp opened #46788 "IndicatorContainerProps not exported"
Is something wrong with CI or publishing infrastructure?
No

- [x] I tried using the `@types/react-select` package and had problems.
- [] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.

[2020-08-14 14:09] Methuselah96 commented on #46788
Make a PR and add an export to https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/react-select/index.d.ts.

[2020-08-14 14:49] simon-asp commented on #46788
Thanks!

[2020-08-14 15:12] bela53 commented on #46691
@eps1lon thanks for the link - certainly helps to understand that the issue is more compiler related. The `FC` type definition seems to be hardwired into the compiler itself  (e.g. changing the type definitions of the react `.d.ts` file has no effect). I mistakenly thought, this had changed since [TS 2.8 local JSX namespaces](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-

[2020-08-14 16:58] ferdaber commented on #46691
I'm not sure what you mean by "static" though, the allowed return types are dictated by the factory function itself— React allows some subset of types, and maybe something like Vue (where fragments are not yet supported) does not allow returning arrays yet.

[2020-08-14 17:45] bela53 commented on #46691
Here is a simple [example](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAJQKYEMDG8BmUIjgIilQ3wCg0IA7AZ3gFkBPAYVzDgF44AKASg4D4CmCBHxwA9ACo4KanACulANaUIAd0oy5AKQDKADQB0AUQA2SEEkrwAPnErzTpuJPHkqtOACtqADw5wADyMLOASguLicEhQOFDUADRaMnAU4CgwwABG5nCYihjAVKmscEQw8lCawHKYwL5IACZwMBBwekZmFla29o6mQA) to illustrate what I mean by static:
[code]
The default jsx factory is `React.createElement`, whose

[2020-08-14 17:49] ferdaber commented on #46691
Yes, the technical procedure is that the compiler covariantly checks that the return type of a specific JSX constructor is assignable to the `JSX.Element` type (which can be defined differently for a specific factory function). The issue is that `JSX.Element` _has_ to be black boxed to an object since you need to sometimes access the VDOM object, because the return value of a JSX expression is def

[2020-08-14 19:40] bela53 commented on #46691
I see, thank you. So basically the crux is, that there is no distinction between a JSX expression type and the component return type, which leads to microsoft/TypeScript#21699 again.

The compiler looks up the jsx factory function `React.createElement`, sees `FunctionComponent` as type parameter and enforces its return type as `JSX.Element`, which is defined in the global JSX namespace. There is n

[2020-08-14 20:15] ferdaber commented on #46691
Yup! That's correct, and what you did would be the correct choice in "fixing" this (you /have/ to change the type of `JSX.Element` instead of the return type of function components), but the issue would be that now you can no longer access the VDOM properties of a generated JSX element (which admittedly is a far rarer use case but must still be valid)

[2020-08-14 21:33] #46163 closed

[2020-08-14 21:40] Naaman233 commented on #17590
I just experienced this problem. First make sure your node_modules is present. Incase it is, delete it and run npm i or yarn install. Also make sure your node package manager is on v11.0.0. its recommended for react

[2020-08-15 12:00] apexskier commented on #14940
This is [documented in the README](https://github.com/DefinitelyTyped/DefinitelyTyped#how-do-definitely-typed-package-versions-relate-to-versions-of-the-corresponding-library) today.

(I think this issue can be closed)

[2020-08-15 14:36] EvanHahn commented on #32560
`moment-timezone` has bundled its types since 0.5.30, according to `notNeededPackages.json`. I think this issue can be closed.

[2020-08-15 15:02] EvanHahn commented on #46511
I tried this but couldn't get it to work. After removing the Helmet types, I tried two things in `types/koa-helmet`.

A first diff adds a `package.json` with a dependency on `helmet`:

[code]

This fails with "Cannot find module 'helmet' or its corresponding type declarations.". I also tried setting the version to `"*"` instead of `"^3.23.3"`, to the same effect.

And a second makes everything dep

[2020-08-15 18:41] peterblazejewicz commented on #46511
@EvanHahn
Can you make a repo with both setups (no modification, just npms packcage.json and tsconfig.json)? I can have a look, thanks!

[2020-08-15 20:08] EvanHahn commented on #46511
@peterblazejewicz Sure, but I don't think I understand what you mean. Do you want a fork of DefinitelyTyped? Or a repo that includes `koa-helmet`?

[2020-08-15 20:29] peterblazejewicz commented on #46511
A sample of new content, to look into how TS resolves definitions, so in `.gitignore` remove rule to not store `node_moduels`.

[2020-08-16 03:05] kevin-he-01 opened #46813 "[@types/argparse] Support argparse 2.0"
Is something wrong with CI or publishing infrastructure? No

If you know how to fix the issue, make a pull request instead.

- [x] I tried using the `@types/argparse` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any

[2020-08-16 04:05] cakoose commented on #46813
@kevin-he-01: Just FYI, for most DefinitelyTyped packages, you're probably going to have to make the improvements yourself.

Here is some information on dealing with new major versions: [link](https://github.com/DefinitelyTyped/DefinitelyTyped#if-a-library-is-updated-to-a-new-major-version-with-breaking-changes-how-should-i-update-its-type-declaration-package).

[2020-08-16 13:55] liorcode opened #46817 "@types/mongodb 3.5.26 regression - nested fields are not supported"
- [x] I tried using the `@types/mongodb@3.5.26` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
  - Authors: @Celend

After upgrading to `@types/mongodb` version 3.5.26, which introduced types for projection (#46488), the following code started failing:
[code]
It causes the following compile error:
`error TS2339: Property 'ac

[2020-08-16 15:04] Imperyall commented on #31065
@sylvanaar
I also faced this problem when initializing navigation, have you found a solution?

[2020-08-16 15:07] Celend commented on #46817
It's seems fine to me?

Here is an example: https://github.com/Celend/types-mongodb-demo
or checkout the test at https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/mongodb/test/collection/findX.ts

[2020-08-16 15:28] liorcode commented on #46817
You forgot to use the returned type
here's a failing example: https://github.com/liorcode/types-mongodb-demo/blob/master/index.ts

[2020-08-16 15:55] Celend commented on #46817
Oh, it looks weird, as you can see, I did not change the return type for find method in the PR, https://github.com/DefinitelyTyped/DefinitelyTyped/pull/46488/files#diff-2b1325c7d29dbe7167881a665318da51R1106

But change the return type from `Cursor<T>` to `Cursor<TSchema>` it'll working fine, why?

[2020-08-17 04:20] Celend commented on #46817
会有 Redis 缓存，但是要放到 MongoDB 持久化，Redis 的话可能会因为内存不足被逐出。

[2020-08-17 08:22] liorcode commented on #46817
Seems it happens due to this line:
`find<T = TSchema>(query: FilterQuery<TSchema>, options?: FindOneOptions<T>): Cursor<T>;`
Here, you're passing the `T` along to `FindOneOptions` and it causes typescript to infer T differently than how it does normally- it infers T as whatever the type which is passed to the `projection`.
Without it - it normally doesn't infer `T`, and just use it's default type

[2020-08-17 08:42] Celend commented on #46817
Wow, you're right, that's my fault, I'll make a PR to fix and re-check the changes, thanks so much!

[2020-08-17 08:47] liorcode commented on #46817
Thank you!

[2020-08-17 12:45] bokunobaka opened #46837 "[@types/elliptic] SignOptions not working"
Is something wrong with CI or publishing infrastructure? No

- [x] I tried using the `@types/elliptic` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see `Definitions by:` in `index.d.ts`) so they can respond.
  - Authors: @danwbyrne

[2020-08-17 13:18] gitowiec opened #46838 "Missing `theme` prop i CommonProps in React-select"
- [x] I tried using the `@types/react-select@2.0.19` package and had problems.
- [X] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [X] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [X] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the a

[2020-08-17 13:39] joeried opened #46839 "[@types/prettier] Missing exports from standalone.d.ts"
standalone.js has exports for e.g. doc and util. If I'm not mistaken these exports are missing in the types.

- [X] I tried using the `@types/prettier` package and had problems.
- [X] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [X] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate que

[2020-08-17 16:24] #46365 closed

[2020-08-17 18:15] JeffBaumgardt opened #46848 "[@types/mapbox-gl] - Update to 1.12.0"
Is something wrong with CI or publishing infrastructure?

- Check the [Infrastructure status updates](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/44317) thread for known issues.
- Leave a message on the [DefinitelyTyped Gitter](http://gitter.im/DefinitelyTyped/DefinitelyTyped).

If you know how to fix the issue, make a pull request instead.

- [X] I tried using the `@types/xxxx` pack

[2020-08-17 18:46] JeffBaumgardt commented on #46848
Sorry missed a few authors
@dobrud
@patrickr
@macob
@LiamAttClarke
@life777
@mklopets
@amxfonseca

[2020-08-17 19:01] dmytro-gokun commented on #46848
@JeffBaumgardt

No. I do not get paid for this. I only work on this when i need it for my project or when i have time. At the moment neither of those conditions is met. So, you are welcome to create a PR. If you do not want to do that, you have to wait until someone does.

[2020-08-17 19:48] erictaylor commented on #42795
See PR #42795.

[2020-08-17 19:51] erictaylor commented on #37413
See #46850

[2020-08-17 21:33] #7931 closed

[2020-08-17 21:35] reubenrybnik commented on #7931
This was actually fixed by #45304, I just wasn't familiar with the magic of the word "fix" in a PR so I used a later PR in the same set to close this out.

[2020-08-17 22:17] Kojikun1 opened #46855 "[@types/styled-components] React Native Project error on tsc (Type 'C' and exported member 'NonReactStatics')"
- [x] I tried using the `@types/styled-components package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the auth

[2020-08-17 23:27] EvHaus commented on #44019
Upgrading to v14.6.0 seems to have resolved this issue for us.

[2020-08-18 06:52] #46194 closed

[2020-08-18 07:11] MIMAXUZ opened #46861 "TS2339: Property 'user' does not exist on type 'Request<ParamsDictionary, any, any, ParsedQs>'"
When trying to extend the Request interface from the package express to add some custom properties, I'm getting the following typescript error on my routers:
[code]
I searched google for almost two days and none of them got a definite answer. The codes are working on my old project, but if I create a new project and use it, the above error occurs.

Now I'm using thoose packages:

- [ ] ts-node 8.1

[2020-08-18 07:25] mariusnn commented on #46603
`state.company.company` may be undefined (in `mapStateToProps`), but are declared as required in the prop-type passed to the component type.
Replacing `company: Company,` with `company?: Company,` (or ` company: Company | undefined`) on line 8 would fix the type-issue you're seeing.

[2020-08-18 10:27] Celend commented on #46817
@liorcode Hi, I think this is a good solution(https://github.com/DefinitelyTyped/DefinitelyTyped/pull/46863), could you please take a look?

[2020-08-18 11:07] danilobuerger opened #46864 "[@types/react-native] Cant assign ColorValue from object"
`ColorValue` was introduced in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/45963
[code]

However, this now breaks if they are assigned to an object:
[code]

Results in:
[code]

Authors:
@alexbrazier

Reviewers:
@zoontek
@rickhanlonii
@dotconnor
@TheSavior
@pesoklp13
@alloy
@tom-un

Version:
typescript: 3.9.7
@types/react-native: 0.63.8

[2020-08-18 12:33] alloy commented on #46864
I wonder if your issue is one that requires more explicit typing, such as [this example](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/45963/commits/cdaa613261d0cd20ea3757d2cc250e9bf4faca46#diff-2aa49bfa477648677014849cb12af571R332)? If not, could you create a PR with a failing test that shows the issue?

[2020-08-18 12:40] danilobuerger commented on #46864
@alloy I think the problem is that unique symbols are not assignable without loosing the unique part:
[code]
results in
[code]
In case of the example as soon as `test()` is assigned, the resulting `colors.foo` is not of type `string | unique symbol` but `string | symbol`.

[2020-08-18 12:47] alloy commented on #46864
How wide-spread is this? As in, how bad would it be to do either one of these?

[code]

or

[code]

[2020-08-18 12:49] danilobuerger commented on #46864
Right now I am using the latter as a workaround. However, this gets quite annoying with a lot of colors. (The first approach scales even worse as you would have to list every field name again).

[2020-08-18 12:51] alloy commented on #46864
What about?

[code]

[2020-08-18 12:53] danilobuerger commented on #46864
Somebody will write `colors.bar` instead ;) You loose the type information about the field names.

[2020-08-18 12:54] alloy commented on #46864
I’m unsure what you mean, can you give a more complete example?

[2020-08-18 12:58] danilobuerger commented on #46864
Well if you type it as a `Record`, you loose the information what concrete fields are inside `colors`.

Anyway, I am not looking for a workaround (already got one as explained). We should rather think about how to solve the underlying issue. In reality `PlatformColor` doesn't return a `unique symbol` but an object.

[2020-08-18 13:30] alloy commented on #46864
Ah, yes, I see what you mean.

To be clear, I wasn’t trying to suggest a workaround to you; I’m trying to understand how big of an issue this is and what an actual acceptable solution would be _for others_.

Yes, but that object contains implementation details that we don’t want to expose, hence the usage of `unique symbol` which is the only replacement for Flow’s `opaque` type, that I know of.

[2020-08-18 13:42] danilobuerger commented on #46864
Ah sorry, I misunderstood your intent. Yes, that seems the way to go!

I thought typescript doesn't really have opaque types, just workarounds? Something along the following lines could work:
[code]

[2020-08-18 14:11] alloy commented on #46864
Correct 😞

Yeah something like that was originally proposed on #45963 too, there doesn’t seem to have been a real decision for one over the other. Technically I prefer the opaqueness of the unique symbol vs a bogus object, but I also don’t feel very strong about it.

How bad is the problem for you specifically and/or would you be ok and see if many more people report problems with the ergonomics o

[2020-08-18 14:17] danilobuerger commented on #46864
I keep all my colors in one file. So its just 30 times `as ColorValue` for me right now and they don't really change often. So not really a problem, more of an eyesore. But there could obviously be more edge cases.

[2020-08-18 14:17] EvanHahn commented on #46511
Sorry, I still don't think I understand what you want. Is this a completely new project that shows what happens when you `npm install @types/koa-helmet`? Is this a fork of DefinitelyTyped that shows my changes, with `node_modules` included?

[2020-08-18 14:28] alloy commented on #46864
Aye, I hear you. Ok, let’s leave it as-is for now then, but leave this issue open so others can find it and chime in.

Thanks for the feedback, though! 🙏

[2020-08-18 16:11] TheInvoker opened #46871 "The @types/i18n doesn't include { I18n } contructor update"
Based on this recent update https://github.com/mashpie/i18n-node/issues/439

The i18n class now supports a { I18n } constructor property which allows you to make a new instance of i18n. The types for this is not there in @types/i18n. When would this be added?

[2020-08-18 21:10] jcapinc commented on #46871
Could you give examples for the old usage and the new usage?

[2020-08-18 21:14] TheInvoker commented on #46871
well according to this

https://www.npmjs.com/package/i18n

it supports
[code]

So I figure the expected typescript usage should be

[code]

And the type of i18n is an instance of the original i18n class.

[2020-08-18 21:28] jcapinc commented on #46813
I am interested in tackling this, should I take this from a full-reset perspective where I create types for the new library from scratch?

[2020-08-18 22:26] neelav commented on #44474
I think the issue has to do with this line: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/mongoose/index.d.ts#L3452

When `rawResult: true`, the callback should use `FindAndModifyWriteOpResultObject` instead of `T`.  And when `rawResult: false`, then callback should use `T`.

[2020-08-18 22:28] andrejleitner opened #46883 "[@types/hapi] Cannot use namespace 'Boom' as a type"
- [x] I tried using the `@types/hapi` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see `De

[2020-08-18 23:04] cakoose commented on #46813
Disclaimer: I'm no DefinitelyTyped expert or an argparse expert!

The old definitions are somewhat battle-tested.  There's probably a bunch of subtle things in those definitions that will be valuable to preserve in the new definitions.

Skimming over argparse's v1-to-v2 migration guide ([link](https://github.com/nodeca/argparse/blob/f1a60eebdc487708085398da7e3fbcddd396d7b4/doc/migrate_v1_to_v2.md#

[2020-08-18 23:41] jcapinc commented on #46813
yes, on further review that looks like it is the case. I think I will make a /v1/ folder and start on v2 in the basedir with the existing index.d.ts

[2020-08-19 01:01] harveyconnor commented on #44752
I'm getting this issue with $pull as well.

[2020-08-19 01:06] huming2207 commented on #44752
Yea may be the same issue here: https://github.com/typegoose/typegoose/issues/350

[2020-08-19 05:49] dschinkel commented on #46603
thanks @mariusnn

[2020-08-19 05:49] #46603 closed

[2020-08-19 11:18] kvernon opened #46898 "[@types/google-apps-script] CardService is missing methods"
Recently I've been trying to add a footer, if you try to do the suggested cat tutorial idea: https://developers.google.com/gsuite/add-ons/cats-quickstart, it cannot find `setFixedFooter()`

area of concern:
[code]

note: on version:     "@types/google-apps-script": "^1.0.14"

@PopGoesTheWza , @grant

[2020-08-19 11:53] lensbart commented on #38173
The typings for map on objects seem to contain a mistake:

[code]

This leads to problems when `T` is a union. `T[keyof T]` retains only the keys that are present across all types in the union. I think this can be resolved with the following:

[code]

I’m not extremely proficient in TypeScript. Perhaps someone can confirm whether I should file a PR like this?

[2020-08-19 12:48] gitHber opened #46901 "@types/react-transition-group RefElement default value is not work?"
![image](https://user-images.githubusercontent.com/22513044/90633689-0c9ffe00-e259-11ea-9f27-25aa11b0a2b5.png)
TransitionProps RefElement default value is not working for Transition, The default value should be add to Transition
![image](https://user-images.githubusercontent.com/22513044/90633806-4d981280-e259-11ea-9f58-ff5968939d48.png)

I already create a pr, and demo is [here](https://stackblit

[2020-08-19 16:10] Daavidaviid opened #46904 "@types/graphql-upload needs to be updated"
https://www.npmjs.com/package/@types/graphql-upload is still depending on the version `^14.0.0` of graphql. We need to upgrade to `^15.0.0`

[2020-08-20 02:17] #46901 closed

[2020-08-20 02:23] gitHber commented on #46901
You have to set tsconfig.json strictNullChecks is true

[2020-08-20 07:32] dwjohnston commented on #42634
Incase anyone has come here from google - make sure your `@types/uuid` matches the version of your `uuid`.

[2020-08-20 07:43] dwjohnston opened #46916 "Is there a tool that will verify that I have the right `@types` versions?"
0

I recently had a situation where I'd installed the types for the package `uuid` via `npm i @types/uuid`.

The problem was, I had versions `3.4.x` of uuid and not specifying the version for `@types/uuid` meant that it installed the latest (`8.3.x`) and this caused weird import issues that took about an hour to solve.

What I'd like to do is have a simple checker that validates my package.json an

[2020-08-20 11:48] dflorey opened #46917 "GetIntrinsic erros"
I'm getting a bunch of errors like these and have no clue what to do to get my app compile again:

node_modules/@types/es-abstract/GetIntrinsic.d.ts:555:58 - error TS2339: Property 'flat' does not exist on type 'any[]'.
555         '%Array.prototype.flat%': typeof Array.prototype.flat;
[code]

[2020-08-20 14:37] ExE-Boss commented on #46917
You need to have <code>[lib][tsconfig-lib]: ["ESNext"]</code> in your <code>[tsconfig.json]</code>.

[tsconfig-lib]: https://www.typescriptlang.org/tsconfig#lib
[tsconfig.json]: https://www.typescriptlang.org/docs/handbook/tsconfig-json.html

[2020-08-20 15:27] gromov-io commented on #34391
I confirm that my VSCode has started to choke.

[2020-08-20 15:57] nickbclifford commented on #41332
Bumping this; I'm currently on version 3.5.26 of `@types/mongodb` and I still get the same error.

[2020-08-20 16:04] AndrewMorsillo commented on #34391
I ended up removing styled-components, it didn't provide a ton of benefit on react-native for us anyway. Plain old JS objects with spread operator and inline styles works great with no TS perf issues, IMO ends up being easier to read code than with styled-components anyway at least on RN.

[2020-08-20 18:26] codekpchang commented on #46917
I'm also running into this issue with my build and have already included `lib: ["ESNext"]` in my `tsconfig.json` file.

[2020-08-20 19:36] Abourass commented on #38029
Same issue

[2020-08-20 20:41] FrankBrullo commented on #45861
@sheep-h I have added the changes as you have requested in the next build. It should be going live in a couple of days.

Thanks for your feedback.

[2020-08-20 22:23] Kojikun1 commented on #46855
Fixed install de last dependecie ( hoist-non-react-statics ) just run
[code]

[2020-08-20 22:23] #46855 closed

[2020-08-20 23:54] samuela opened #46940 ""Type 'RelayModernEnvironment' is not assignable to type 'Environment'." with @types/relay-runtime"
- [x] I tried using the `@types/xxxx` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see `De

[2020-08-20 23:57] Stephen2 commented on #46940
Try adding this:
[code]
to your package.json

[2020-08-21 07:37] alloy commented on #46940
For clarification of @Stephen2’s solution, which should work, the issue is that you have 2 different versions of `@types/relay-runtime`, see the paths in your error:

[code]

i.e. the `node_modules/@types/react-relay/node_modules/@types/relay-runtime` version should not exist.

[2020-08-21 07:37] #46940 closed

[2020-08-21 08:55] mxsxs2 opened #46946 "[react-router] useParam's return type fails in TypeScript 4.0.2"
- [x] I tried using the `@types/xxxx` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [ ] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see `De

[2020-08-21 11:07] DanielReid opened #46949 "async.d.ts parallel expecting all functions to have the same type"
- [x] I tried using the `@types/xxxx` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see `De

[2020-08-21 15:01] ibigbug opened #46952 "crypto.getFips() not availalbe?"
Is something wrong with CI or publishing infrastructure?

- Check the [Infrastructure status updates](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/44317) thread for known issues.
- Leave a message on the [DefinitelyTyped Gitter](http://gitter.im/DefinitelyTyped/DefinitelyTyped).

If you know how to fix the issue, make a pull request instead.

- [x] I tried using the `@types/xxxx` pack

[2020-08-21 20:08] chriskinzel opened #46965 "[@types/node-zendesk] PaginablePayload next_page and previous_page types should be string not number"
- [x] I tried using the `@types/xxxx` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see `De

[2020-08-22 04:01] dbanisimov opened #46972 "[@types/reach__router] typings shouldn't depend on 'history' typings"
`@reach/router` typings depend on `history` typings although the packages themselves don't have this dependency. This leads to problems when used in a codebase that actually uses the `history` package.

As an example in our particular case our app uses `react-router@6` which depends on `history@5` which includes it's own typings. We also use storybook which depends on `@reach/router` which uses `@

[2020-08-22 16:14] gzzchh opened #46975 "Add types for package asar?"
the types file of package asar is here.
https://github.com/electron/asar/blob/master/lib/index.d.ts
have somebody add it to this repo?

so that can use the npm to install the types instead of adding paths to the tsconfig.json

[2020-08-22 16:29] jcapinc opened #46976 "Question! How do I test my types with the library in question first"
So I modified an existing type definition and I want to test it and I am having a hard time finding the best method to test. I want to create a new project and import my changes but I don't know how to create the npm sub-package for my specific directory, and including definitely typed directly as a repository is not recognizing my type definitions at all, and I cannot seem to force tsconfig to im

[2020-08-23 17:14] peterblazejewicz commented on #46976
@jcapinc
Create a project locally with all your settings and that 3rd party library, install types as usually.
For your own types, just create `@types` directory on project root (same folder where `tscofnig` is located) and just add the same structore that later will be used by DT types (folder with files), e.g. `@types/json-minify`, etc. That will be picked by default TSC resolving step.
[code]
a

[2020-08-23 17:17] peterblazejewicz commented on #46975
@gzzchh
That's not required, modern TSC reads information from `package.json` and there is a proper entry there:
https://github.com/electron/asar/blob/master/package.json#L6
https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html#including-declarations-in-your-npm-package
hth

[2020-08-23 18:57] jcapinc commented on #46976
I would have never thought of that! that looks excellent, I will go try that out and see if I can make that work.

[2020-08-23 19:37] andrejleitner commented on #46883
I found hapi and its types of version 17.8.x (both) as non-conflicting across all dependencies (e.g. boom, joi, catbox, ...).

[2020-08-23 19:37] #46883 closed

[2020-08-23 20:10] joshribakoff commented on #35572
I have `RefObject`:

![Screen Shot 2020-08-23 at 1 06 16 PM](https://user-images.githubusercontent.com/4021306/90987686-b2958600-e541-11ea-8dbc-68a22a27e11a.png)

I pass it to my `Panel` component as the prop `ref`:

![Screen Shot 2020-08-23 at 1 06 04 PM](https://user-images.githubusercontent.com/4021306/90987680-b1645900-e541-11ea-880a-2646039d61e2.png)

I try to consume w/ `forwardRef`, it beco

[2020-08-24 05:01] psaxton commented on #33751
PR was merged 10-MAR-2019. Closing issue.

[2020-08-24 05:01] #33751 closed

[2020-08-24 12:29] MCarballido commented on #46066
I am having the same issue with `.lean()` even with `@ŧypes/mongoose:5.7.21`. I had to downgrade all the way to `5.5.18` to make it work for `.lean()` returns `any` in that version.

[2020-08-24 14:13] mexmirror commented on #31065
Summarising what I just read: The only way to set a value to a ref created by `createRef<T>` is to cast it every time you use it? What's the reasoning behind that? In that case the `readonly` is practically preventing settings a value to the ref at all, therefore defeating the whole purpose of the function.

[2020-08-24 14:50] jagadeesh93 commented on #35707
@jedmao I had the same bug .I applied this solution it worked fine for me . Could you please explain what is happening behind the scene ? . why it is throwing an error if i directly import from react-relay by skipping the babel-plugin-relay/macro thing

[2020-08-24 15:52] lincolnthree commented on #46066
That sounds about right. I think the best possible compromise here would be to return the Schema type as defined. If really desired, it could demote the ID and Version fields to optional, but I don't see anything wrong with just returning the type as users have it defined. It's what they'd expect, IMO.

[2020-08-24 19:15] jean182 opened #47011 "Bug: React with Typescript does not Support most of the falsey values with using the logical && operator"
With regular js I'm accustomed to use logical && statements to return JSX elements, with typescript I notice this approach won't work since we can only return Element or null, I think the docs are clear that react is smart enough to not render most of the falsey values as stated here: https://reactjs.org/docs/jsx-in-depth.html#booleans-null-and-undefined-are-ignored . I would like to have the same

[2020-08-24 23:42] hilezir commented on #34391
I'm experiencing the hell in the CSS-in-JS haven when I am coding with VSCode.

[2020-08-24 23:50] joaopaulobdac commented on #34391
@AndrewMorsillo @hilezir  I switched from styled-components to styletron, using TS 4. Performance in styletron is much better both in vscode and in the browser.

[2020-08-25 09:24] xuntianxuntian opened #47019 "Is multer change the way with error handling when using with typescript？"
In typescript :
`multer({options}).fields([...fields]})(req,res,next)`
in Official doc ,it turns to b :
`multer({options}).fields([...fields]})(req,res,err=>{})`

So,here is the problem,where does the error go?

I used to wrapped with try-catch to catch the errors,but it didn't work...

Did anyone has the same trouble with me ??

[2020-08-25 09:45] kumaresan-subramani opened #47022 "compilation issue "node_modules/@types/lodash/common/common.d.ts:9:38: Declaration or statement expected""
## Description

[@types/lodash](https://www.npmjs.com/package/@types/lodash), package has been updated 16 hours ago. Due to this upgrade we are facing below compilaiton error:

[code]

## is this regression

Yes, while using `4.14.159` all are working fine. when using latest it throws mentioned comilation error

## repo steps

1. download below sample
[sample.zip](https://github.com/DefinitelyType

[2020-08-25 10:58] 117sparta commented on #45993
face same problem too.

[2020-08-25 13:16] jedmao commented on #35707
It’s been too long, so I don’t remember exactly the issue I was facing, but it looks like I was just trying to make sure that there were no type collisions between the two libraries for using different types or different versions of types for graphql. In my code, I’m explaining that the graphql export from the macro is actually the same type information as the graphql export from react-relay.

[2020-08-25 15:34] jcapinc commented on #46976
I was really excited about your solution, I wonder if I did something wrong.
![image](https://user-images.githubusercontent.com/1325626/91195229-d6360900-e6c6-11ea-85ab-a4f9f8d00dc7.png)

I was unsuccessful, I still don't know how to associate the index.d.ts to the library in question.

[2020-08-25 15:53] #46861 closed

[2020-08-25 17:27] jc-development commented on #28884
This worked for me:

`
import React from 'react';
import styled from 'styled-components';

const ForwardRefComponent = React.forwardRef((props, ref) => <section {...props} ref={ref} />);

const StyledComponent = styled(ForwardRefComponent)'
        grid-column-start: 1;
        grid-column-end: span 6;
        position: relative;
        height: 100%;
        width: 100%;
';

export default Styled

[2020-08-25 19:06] yvbeek commented on #46864
This change is causing quite a few issues in our project.

We, like many others, use the `react-native-vector-icons` library. The color of the icon is defined as `color?: string;`. Because of this change I can no longer assign a StyleSheet class' color to this property.

What would be the best way to solve this?
I don't really want to sprinkle `as string` all over my code.

[2020-08-25 19:20] alloy commented on #46864
@yvbeek That seems to be a different issue. Colors simply are no longer just strings in v0.63, so it sounds like the lib needs an update instead.

[2020-08-25 19:25] yvbeek commented on #46864
@alloy Ok, those libraries will probably get updated in the coming weeks. I think for now I will pin it to the old `@types/react-native` version. I've tried to override the definitions of the other libraries, but that doesn't seem to work.

[2020-08-25 22:14] peterblazejewicz commented on #46976
sorry, I've was tricked by my actual setups. Nearly there,
so basically, the TSC looks for `@types` directories recursevily up, which means one could place a folder `node_moules/@types` directory up, with sample DT package and it will be looked up from a nested project, so, this would certainly work:
![image](https://user-images.githubusercontent.com/14539/91233123-d965df00-e730-11ea-842c-936bf93c

[2020-08-26 03:20] 117sparta commented on #45993
fallback @types/webpack to 4.32.2 solve this problem.

[2020-08-26 06:49] caperso commented on #46670
yep I met same problem , hope someone familiar with echarts deal with it

[2020-08-26 12:59] MarkLeMerise commented on #25342
This issue was still occurring for me with TypeScript 4.0.2. Installing `@types/node` at version `14.6.0` seemed to make the errors go away when running `tsc --noEmit`.

[2020-08-26 13:55] pbadenski opened #47051 "@types/mongoose: typed projections"
At the moment `projection` is of type any... this is a more of an open-ended question whether it's at all possible to build types around it.

Ideally type returned from `findXXX` when projection is used would also take that information into the account.

[2020-08-26 13:59] guicara commented on #43601
Hello,

Any news on this issue?

In the meantime, I have extended the type definitions:

[code]

[code]

Another "solution" _(but definitely not a good one)_ is to use `onupdatefile` instead of the missing `onupdatefiles`. Something like that:

[code]
Hope it helps.

[2020-08-26 14:34] zposten commented on #43601
Fixed by #47008

[2020-08-26 17:03] Nabsef commented on #47022
I have the same issue with this new update.

[2020-08-26 17:36] zetagame opened #47056 "@types/hls.js Missing Types"
Hey all! I started using your type definitions for Hls.js and they're awesome! I ran into a couple of roadblocks with missing types including:

Missing from `Hls.Events`:
- `NON_NATIVE_TEXT_TRACKS_FOUND`
- `CUES_PARSED`

Missing from `Hls`:
- `audioTrack`
- `audioTracks`
- `streamController`
- `manualLevel`
- `levelController`
- `removeLevel`

Incomplete types:
- `Hls.Level`

Please let me know if

[2020-08-26 17:41] jgainfort commented on #47056
Which version of hls.js are you currently using?

Could you point us to the source code of these types?

As always a contributing PR is the fastest way to include any changes.

[2020-08-26 18:14] zetagame commented on #47056
v0.14.10. They're all in [src/hls.ts.](https://github.com/video-dev/hls.js/blob/v0.14.10/src/hls.ts). If I start on a PR I'll comment here first so we don't duplicate work :)

[2020-08-26 22:18] peterblazejewicz commented on #47019
@xuntianxuntian the JS is always a source-of-truth, the TS (definition types) does not produce any code on its won (.d.ts will not produce any outcome).
The `fields(...)` seems to return standard Express middleware:
https://github.com/expressjs/multer/blob/master/index.js#L68

[2020-08-26 22:33] peterblazejewicz commented on #47022
@sandersn sorry for tagging, when you have time. NOt sure here is that is related to your changes (conditional types) or just to the tooling in the project.

[2020-08-27 04:50] crystalfp opened #47068 "Types for jquery UI should be called jquery-ui as the package"
I have installed the package for jQuery UI this way: `npm i jquery-ui` then I installed the corresponding types with: ` npm i -D @types/jquery-ui` but this creates the directory `@types/jqueryui` that is named as an obsolete package. The latest package is called "jquery-ui" and so should the type package directory be called, otherwise typescript does not find it.

Is something wrong with CI or pub

[2020-08-27 07:38] pbadenski opened #47070 "[@types/mongoose] Upgrade @types/mongodb to 3.5.26"
There's been a number of type fixes and at least one feature (compression option) since current 3.5.3 packaged with @types/mongoose.

[2020-08-27 10:17] kannan-at opened #47075 "[@types/supertest] Can't chain `.post` after `.set`"
I ran into the following issue ([playground link](https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAKjgQwM51QVzAU1j1eAMyghDgHItd9CKBuAKEYGMIA7QuKAzAG3gBeFAHdkweNTwwCMAHTIA5jnYwAFBQAWMGGFQAuAPSHtugEbB2c6IooBKRnCdw5qHOooBBFixxgYFAA0lGZ8yJqGoeH2js5ykIQahgkBdvROxnAAKgDKAML6cAAKpDQwAJ6UKRRwACYQBHDsEPA4AB7AXBxwFbiUAEo4AI6YshRyrByoEHw4cnwQimo8WAKuMMgwmKjBK-zyZhC15WlAA)):

[code]

If I run this code

[2020-08-27 11:58] DhruvDoshi commented on #47056
Well I used the same and there hadn't been any issue so far

[2020-08-27 11:58] DhruvDoshi commented on #47056
I'II do that soon

[2020-08-27 13:29] aaltepet commented on #47075
@kannan-at - It is counter-intuitive, but the order in your example is backwards.  The ``set`` must come after ``post``:

[code]

See the example in the superagent docs: https://visionmedia.github.io/superagent/#setting-header-fields

[2020-08-27 13:51] char0n opened #47081 "@types/ramda"
Hi @devrelm,

I suppose you're the maintainer of the ramda types (I've inspected the latest commits there).
I'll provide a code to demonstrate the problem that I currently face.

[code]

I don't understand what is the different between assigning a curried function to a variable and using it later and inlining the curried call directly in composition. To me (not that familiar with TypeScript), this

[2020-08-27 18:45] saosebastiao opened #47085 "@types/leaflet L.control function is a namespace?"
- [x] I tried using the `@types/xxxx` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see `De

[2020-08-27 19:46] jcapinc commented on #46976
Thank you for this, I will give this a shot and report back to this thread how I fair.

[2020-08-27 20:14] kannan-at commented on #47075
Both orderings work at runtime (in both "supertest" and "superagent").  I normally call `.post` first, but there are cases where it's useful to do `.set` first, e.g.

[code]

[2020-08-27 20:28] sawpti commented on #40905
Me funcionó esto:

sudo rm -rf node_modules
sudo rm yarn.lock,
sudo yarn

[2020-08-27 21:03] jcapinc commented on #46976
![image](https://user-images.githubusercontent.com/1325626/91494607-16dc8080-e887-11ea-8364-c9b6e6d1fea4.png)

This worked! Thank you so much! I will use this to finish my work on argparse and work on other types in the future - thank you so much!

[2020-08-27 21:03] #46976 closed

[2020-08-27 21:29] silesky opened #47090 "[@types/express-serve-static-core] Feature request: Response should take status code generic"
- [X] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see `Definitions by:` in `index.d.ts`) so they can respond.
  - Authors: @horiuchi @tdreyno @kamal @leemhenson

When I do res.sendStatus(xxx), I don't get any guaruntee that the status code is synchronized with those that are defined in the swagger.

![image](https://user-images.githubusercontent.com/511549

[2020-08-28 08:29] ucejtech commented on #42093
Has this been resolved yet? I have a similar issue with creating a Transport.

[2020-08-28 12:06] aaltepet commented on #47075
That's a fair example!  I agree the types should support this. The supertest typings are complex and resolving this discrepancy is beyond my ability.  If you're able to, I'd love to see how to resolve this :-)

[2020-08-28 12:30] vadimyen commented on #20544
So, any news on fix?

[2020-08-28 14:00] Andrew1431 commented on #34391
Is too late for us to make this change but I haven't heard of styletron and definitely like the looks of it more than styled components.

[2020-08-28 14:27] jimmyandrade commented on #45740
I am experiencing the same:

[code]

[2020-08-28 14:28] jimmyandrade commented on #37287
I am experiencing the same:

[code]

[2020-08-28 14:31] jimmyandrade commented on #33822
I am experiencing the same issue:

[code]

[2020-08-28 14:33] jimmyandrade commented on #27805
I am running to a similar issue:

[code]

[2020-08-28 16:02] ferdaber commented on #33822
If you use yarn, you can run `npx yarn-deduplicate` on your repository and it will try to flatten your transitive dependencies to the highest available semantic versions. I'm not sure if there is an equivalent tool for `package-lock.json` in NPM, but you'll need to remove that duplication and  rerun your package manager's install command.

[2020-08-28 16:02] ferdaber commented on #27805
See https://github.com/DefinitelyTyped/DefinitelyTyped/issues/33822#issuecomment-682783521

[2020-08-28 16:32] #35852 closed

[2020-08-28 18:15] jimmyandrade commented on #33822
@ferdaber thank you. I have a monorepo project, but I don't use `yarn`.
So I've downgraded my `@types/react` dependency for now, while I wait for some `@types/react` update that could fix that.

[2020-08-28 19:31] ferdaber commented on #33822
This is not an issue that the typings library can fix, due to how typings work you'll need to manually resolve it on your end by deduplicating your transitive dependencies.

[2020-08-28 19:56] markgoho commented on #38939
@ledragon v6 is out -- any timeline for updating the types?

[2020-08-30 12:46] JulianLang commented on #34391
Will there be a new issue or will this issue be reopened? There are still great performance issues with @types/styled-components 5.1.2 and TS 3.9.7

[2020-08-30 13:56] leaumar opened #47142 "[firefox-webext-browser] split namespaces by usage context so unavailable APIs are typed as such"
Authors: @jsmnbom

Suggestion I'd like to discuss before attempting to offer a PR (to not waste too much time if the idea is rejected): let's

1. split the namespaces into their own files (in part to break up the monolithic `index.d.ts` a bit)
2. export all namespaces from `index.d.ts` so that compatibility is not broken
3. export an additional few .d.ts files, e.g. `content-script.d.ts`, containi

[2020-08-30 14:40] jsmnbom commented on #47142
I disagree with your "as-is". This is not how I've seen anyone use the definitions. If you install it from "@types/firefox-webext-browser" and make sure that typescript can load types from node_modules, then you never need to import it as it is automatically just available.
Also, these types are auto generated by https://github.com/jsmnbom/definitelytyped-firefox-webext-browser, and there's no eas

[2020-08-30 14:46] leaumar commented on #47142
Now that you mention it, it does make sense the types should be immediately available. Not sure they they aren't, my IDE complained about it until I imported the package.

I can't speak for the operational difficulty of checking/maintaining the info, so ok, if you're sure it's not very feasible, let's close the idea. One can only try. :) Thanks for discussing.

[2020-08-30 14:46] #47142 closed

[2020-08-30 14:53] jsmnbom commented on #47142
What IDE are you using? It really should pick up types if your tsconfig is correct.
I mean, unless you wanna go digging through the firefox source or test every API in all contexts, I don't think there's a feasible way of getting proper data for this.

[2020-08-30 17:06] Ledragon commented on #38939
No timeline, as I cant commit to it. But I don't forget about it, and will try to kick me in the butt to get things rolling. My plan (in my mind at least, let's see if it rolls) would be to try providing a version of each package per day, so that we could be up to date

[2020-08-31 01:33] eschirtz commented on #46639
I'm still having this issue, wondering if there are any updates? Thanks!

[2020-08-31 07:09] marsonmao commented on #31245
I added the `cssprop` definition, but my `css` prop on `div` still shows error. Anyone knows how to fix it?

The error message is "Type 'FlattenSimpleInterpolation[]' is not assignable to type ... ".

----
Details:

I'm using it as an **ARRAY** like this

[code]

The flex object is like this

[code]

Then the error says

[code]

I guess the problem is that `css` prop does not accept `FlattenSimple

[2020-08-31 13:06] lk125454242 opened #47164 "[@types/echarts @4.6.5] index.d.ts line: 993 interface EChartTitleOption padding: number => padding number | number []"
file:  index.d.ts
line:  993
interface:  EChartTitleOption
property:  padding: number => padding number | number []

doc:
https://echarts.apache.org/zh/option.html#title.padding

tks;

[2020-08-31 15:44] Ledragon commented on #45574
Thanks for the feedback, d3 types update form a general point of view are tracked at #38939 so I suggest to close this and keep tracking the already open ticket

[2020-08-31 15:47] LAlves91 opened #47166 "Module '".../node_modules/@types/lodash"' has no exported member 'Cancelable'."
Greetings!

I work with a few Angular projects. One of them has a dependency on a library 'angular-tree-component', which depends on '@types/lodash'.

A few days ago, pull request [46971](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/46971) was merged, generating version 4.14.161. As 'angular-tree-component' declares '^4.14.62' as the required version, the library was updated, generating

[2020-08-31 16:15] Ledragon commented on #38939
As a state of the art exercise, here is a table of where we stand:

Module | Current | Latest | Up-to-date
--|--|--|--
d3 | 5.7.0 | 6.1.1 | :x:
d3-array | 2.0.3 | 2.7.1 | :x:
d3-axis | 1.0.8 | 2.0.0 | :x:
d3-brush | 1.1.5 | 2.1.0 | :x:
d3-chord | 1.0.3 | 2.0.0 | :x:
d3-collection | 1.0.4 | 1.0.7 | :x:
d3-color | 1.2.0 | 2.0.0 | :x:
d3-contour | 1.3.2 | 2.0.0 | :x:
d3-delaunay |  | 5.3.0 | :x:
d3-d

[2020-08-31 19:51] dmitrijt9 commented on #42093
Resolved by using `SMTPTransport.Option` type.

So I'm doing something like this:
[code]

[2020-08-31 20:06] Luis16287 commented on #47166
I have exactly the same problem. I am using [angular-tree-component : 8.0.0](https://angular2-tree.readme.io/docs/getting-started) in a project, when compiling it gives me the following error:

`node_modules / angular-tree-component / dist / components / tree-viewport.component.d.ts: 3:10 - error TS2305: Module '"MyPath / node_modules / @ types / lodash"' has no exported member 'Cancelable'.`

Wha

[2020-08-31 21:11] LAlves91 commented on #47166
Hey @Luis16287 !

For now, I'm fixing @types/lodash version at 4.14.160 in my project's package.json. At least it started building again.

[2020-08-31 23:09] IrvinDevFlores commented on #45740
@jimmyandrade this happens because there a duplicate with yarn and package.json, this means that your could remove node_modules and then reinstal via: yarn install and all package will be added or you can try
`yarn remove @types/react
yarn add --dev @types/react`
**enyoy it.**

[2020-09-01 06:33] #47164 closed

[2020-09-01 11:39] shubham8484 commented on #10097
use "npm i typescript@2.7.1" |
Worked for mee

[2020-09-01 13:03] popadi commented on #16990
Any updates on this? As @alexandrudanpop said, adding all those types instead of having some basic type inference does not seem like a good solution. I'm using `7.2.1` and I still have the same issue.

[2020-09-01 16:30] mmiszy commented on #25953
Now that TS 4.0 is out, it should be possible to cover most of Joi's API with more typesafe definitions.

[2020-09-02 01:48] GuruM commented on #37972
For whomever comes upon this in the future, @dan-kez's answer here worked for me: https://github.com/styled-components/styled-components-website/pull/445#issuecomment-487251588

[2020-09-02 03:58] kumaresan-subramani commented on #47022
Any update on this?

[2020-09-02 04:24] pdNN commented on #46861
Hello, I got the same issue as you. How you managed to fix the error?

[2020-09-02 06:07] MIMAXUZ commented on #46861
@pdNN I didn’t do it that way. I used the other way.  I think it's better not to use types if you don't use interfaces when you use ORMs. So, I solved the problem through middleware as follows:
First you need use ` res.locals.jwtPayload = jwtPayload;` inside your middlewere. So my full middleware like that:
[code]
If you want to see how I used it in the full project, you can go inside my project o

[2020-09-02 10:30] miwels commented on #47166
4.14.161 introduces a breaking change. Looks like the Cancellable interface has been removed and replaced with DebouncedFunc. Check this commit:

https://github.com/DefinitelyTyped/DefinitelyTyped/commit/93d8f9d7102925e1a39852627465a44a0ff670cf

[2020-09-02 10:59] just-boris opened #47228 "Mocha: typings allow mixing two test styles"
If you know how to fix the issue, make a pull request instead.

- [x] I tried using the `@types/mocha` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com

[2020-09-02 11:37] olyop commented on #46904
[https://github.com/DefinitelyTyped/DefinitelyTyped/issues/46904#issue-681965844](url)

[2020-09-02 13:26] vitoyucepi opened #47230 "[@types/compression-webpack-plugin] is incopatible with @gfx/zopfli"
- [x] I tried using the `@types/compression-webpack-plugin` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified

[2020-09-02 13:30] idanwork commented on #47166
Thanks @miwels for pinpointing the change, that did the trick.

Here's an example change

Changed
[code]

to
[code]

And also the import to
[code]

[2020-09-02 14:10] cspotcode commented on #47228
If we make this change, we should also allow consumers to avoid the globals
entirely, to avoid conflicts with other declarations.

On Wed, Sep 2, 2020, 7:00 AM Boris Serdiuk <notifications@github.com> wrote:

[2020-09-02 15:15] #47090 closed

[2020-09-02 16:03] IlCallo commented on #45479
The same problem seem to happen on `webpack-dev-server` package, which requires `@types/http-proxy-middleware`.

I cannot understand who shall I ask to fix the dependency, nor where the dependency are stated, as they are not into the `package.json` of https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/webpack-dev-server :thinking:

[2020-09-02 17:54] peterblazejewicz commented on #47230
@vitoyucepi
so it looks it will be fixed with released update to gzip callback implementation? As per comment here:
https://github.com/webpack-contrib/compression-webpack-plugin/issues/189#issuecomment-685336770

[2020-09-02 18:06] vitoyucepi commented on #47230
@peterblazejewicz it's already fixed in compression-webpack-plugin@v5.0.2 (webpack-contrib/compression-webpack-plugin#190) and my problem was in cache implementation.
Do you think I should create another issue in `@gfx/zopfli` repository?

[2020-09-02 18:14] peterblazejewicz commented on #47230
If I understand correctly, it should be just enough to accept wider spectrum of types, to comply with the patch version change, see my PR for details: #47234

[2020-09-02 18:26] vitoyucepi commented on #47230
In nodejs source Buffer extends UInt8Array. So it will possible to write just `UInt8Array` instead of `Buffer | UInt8Array`.

[2020-09-02 18:47] peterblazejewicz commented on #47230
cool, thx for review :), I'll amend.

[2020-09-02 19:05] pedro-surf commented on #47166
Same error showed up here, rebuilding my project locally when I lost cache.

Somehow I got rid of it but now I have this:

[code]
I'm running on Docker and nothing has changed in the repository.
On my yarn.lock files some deps do have
[code]

Could anyone help? Thanks!

[2020-09-02 19:25] Luis16287 commented on #47166
@LAlves91

Sorry for the delay, for the particular case of the angular project using [angular-tree-component,](https://github.com/CirclonGroup/angular-tree-component) I got the following response

"**This issue is due to @ types / lodash being a dependency in version 8 up to 8.2.0. This should have been fixed with 8.2 .1. I'm not sure what else was done and how risky / time-consuming the switch fr

[2020-09-02 19:38] leaumar commented on #47142
FYI needing to import the types was just a glitch I still sometimes fall for where my IDE's type resolution gets stale and doesn't update with project changes until I restart it. The types work automatically indeed.

[2020-09-02 20:29] nikithauc opened #47240 "DefinitelyTyped.BenchmarkPR check failing"
The check DefinitelyTyped.BenchmarkPR  failed while creating [pull request](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/47235).  I see that the same check has failed for a few recently opened PRs. What can be done to get all checks working?

[2020-09-02 20:46] peterblazejewicz commented on #47240
@nikithauc looks like infrastructure issue really
/cc @andrewbranch the relevant lines:
https://dev.azure.com/definitelytyped/DefinitelyTyped/_build/results?buildId=62660&view=logs&j=275f1d19-1bd8-5591-b06b-07d489ea915a&t=40b1ee41-44d6-5bba-aa04-4b76a5c732e5&l=53

[2020-09-02 21:19] andrewbranch commented on #47240
Oops, I updated its TS version to 4.0 but it looks like we haven’t yet told the installer that it’s published. Reverted. Thanks!

[2020-09-02 21:19] #47240 closed

[2020-09-03 05:05] xudingjiemike opened #47248 "version 14.6.3 Cannot find name 'asserts'."
i work with a few React projects. One of them has a dependency on a library  'types_node', today has some worry in build

the log is：
ERROR in /Users/project/node_modules/_@types_node@14.6.3@@types/node/assert.d.ts(2,60):
TS2304: Cannot find name 'asserts'.

use version 14.6.2 ，the problem didn't happen

[2020-09-03 07:42] #47230 closed

[2020-09-03 09:10] KR1470R commented on #4004
Did not help :\

[2020-09-03 10:26] new08 opened #47250 "v14.6.3 has error in node_modules/@types/node/index.d.ts(20,1): error TS1084: Invalid 'reference' directive syntax."
our project used Angular6 and typescript 2.9.2。
after @types/node upgrading to 14.6.3 , npm build failed with error,
[code]

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/9a5105e065d9c9513561c2e0721768d6ab77873a/types/node/v6/index.d.ts#L14-L20

reference lib is add in [typescript 3.0](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-0.html#-reference-lib--referenc

[2020-09-03 12:34] Celend commented on #46817
It should be fixed in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/46863 @liorcode

[2020-09-03 13:32] arnabmunshi commented on #10742
@malindap92  you can write in this way ...
[code]

[2020-09-03 13:47] AAraKKe commented on #47250
I can say the same with types/node 11.15.21. Our project stopped building today and we had to freeze the version on 11.15.20. There are more errors found than that one. Here is the list that broke our build in case it is helpful. We are not using TS 3 either.

[code]

[2020-09-03 14:20] stephanfriedrich opened #47253 "@types/flexslider ISSUE"
Hi,
i got this error-output `Type '"prev"' has no properties in common with type 'FlexSliderOptions'`.

FlexSlider typing should be updated, since Helper strings have been added for performing actions quickly on FlexSlider elements. Example uses:
[code]
eg with:

[code]

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/6a3556a1bc18bc2650612009011e5f0df4533125/types/flexslider/index.d.ts#L90

[2020-09-03 14:31] yiziz commented on #47250
probably related to https://github.com/DefinitelyTyped/DefinitelyTyped/pull/47195

[2020-09-03 15:41] pharaxe commented on #47250
Same, our project that is pinned at TypeScript `2.9.2` but didn't have types/node pinned now throws the exact errors as posted above.

[2020-09-04 04:12] kumaresan-subramani commented on #47022
Also facing below issue too after `@tyes/node` package updation

## Error

[21:48:12] Starting 'schematics-tasks'...
[21:48:12] Starting 'schematics-build'...
**/jenkins/workspace/EJ2_ej2-es-build_master-EFD45P5PBZWJOW67KTEN5ISPYMET26TRP7EYUTAABES4O6X7COPQ/repositories/ej2-treemap/third-party/angular/node_modules/@types/node/assert.d.ts(2,68): error TS1144: '{' or ';' expected.**
[21:48:16] 'schem

[2020-09-04 06:21] G-Rath commented on #47250
This is because DefinitelyTyped no longer supports TypeScript 2, as per the [support table](https://github.com/DefinitelyTyped/DefinitelyTyped#older-versions-of-typescript-30-and-earlier) in the readme.

You'll have to update to TypeScript 3.2 or above to be able to consume the latest version of `@types/node` :)

[2020-09-04 06:24] G-Rath commented on #47248
This is the same problem as #47250 - it's because DefinitelyTyped no longer supports TypeScript 2, as per the [support table](https://github.com/DefinitelyTyped/DefinitelyTyped#older-versions-of-typescript-30-and-earlier) in the readme.

You'll have to update to TypeScript 3.2 or above to be able to consume the latest version of `@types/node` :)

[2020-09-04 09:02] zimmicz opened #47265 "[styled-components] Typing components defined as object props"
I like styled-components naming featured at https://medium.com/inturn-eng/naming-styled-components-d7097950a245. However, I hit the wall using it with Typescript, as I can't find a way to type styled components defined as object values.
I've set up a sandbox at https://codesandbox.io/s/wizardly-fog-z11r9?file=/src/App.tsx.

Is there anything that can be done to make it work?

cc @Igorbek @Igmat @L

[2020-09-04 10:06] kambleaa007 commented on #47265
is this enhancement you are supposing?

[2020-09-04 10:09] zimmicz commented on #47265
Rather a question to find a way around the issue mentioned above.

[2020-09-04 10:45] kambleaa007 commented on #47265
it seems similar to me, like `Typechecking With PropTypes` we use in reactJS

[2020-09-04 10:54] kambleaa007 commented on #47265
no need to `height="x"`  in side tag, you can manage in.
[code]
then simple,
`<Styled.InsideObject>Inside</Styled.InsideObject>` will work

[2020-09-04 12:28] richmwatts commented on #47250
I am having the exact same problem but the project I am working on is using 6.x.x

Any ideas for a work around? This is currently blocking my builds.

[2020-09-04 12:57] zimmicz commented on #47265
@kambleaa007 that's not the root problem of this. Imagine anything else instead of `height`, custom prop like `myCustomProp`. Using `Styled` object, Typescript won't complain you're sending `myCustomProp="10"` instead of `myCustomProp={10}`.

[2020-09-04 16:33] SinBirb opened #47274 "Missing types"
- [x] I tried using the `@types/chartjs-plugin-annotation` package and had problems.
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see `Definitions by:` in `index.d.ts`) so they can respond.
  - Authors: @danmana
  - PR: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/44114

`BoxAnnotationOptions.xMin` and `xMax` don't accept `Date` nor `Moment

[2020-09-04 20:17] ElizabethSamuel-MSFT commented on #33016
@akrantz I don't think this is still an issue. Can you confirm?

Thanks.

[2020-09-05 02:17] crazyfree commented on #38939
@Ledragon thank you for hardworking. I'm also looking forward d3 fully rollout

[2020-09-05 16:01] Neilski opened #47287 "[@types/codemirror] EditorConfiguration Interface missing definition"
The `EditorConfiguration` interface  appears to be missing the `fullScreen?: boolean` property option in version 0.0.97

[2020-09-05 17:38] jillesme commented on #40138
This is still an issue, installed the latest express / express-serve-static-core types. The problem is when extending the Request interface.

[code]

[2020-09-05 20:55] gastonmorixe commented on #37087
[code]

[2020-09-06 01:40] guyellis commented on #32326
Was this ever resolved in the types? I'm seeing this with `@types/mssql": "6.0.4`

[2020-09-06 01:44] pleb commented on #32326
No, unfortunately somebody didn’t understand the syntax and the PR got rejected

[2020-09-06 03:35] guyellis commented on #32326
@pleb do you have gist or another supplemental/override that you use to get around this that you could share?

[2020-09-06 05:07] yoursunny commented on #47250
According to [README](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/97784d59abc06f44cf402d0dff702d7bef2e9cbf/README.md#older-versions-of-typescript-30-and-earlier):

This means, if you have TypeScript 3.1 or older, you should use older versions of `@types/node` as indicated by NPM tags.

[2020-09-06 05:33] pleb commented on #32326
Sorry, no gist on hand. I think for the project where I came across this, I defined a local type with the template syntax

[2020-09-06 08:57] Radiergummi opened #47296 "d3-selection on() Event argument missing"
- [x] I tried using the `@types/d3-selection` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors

[2020-09-06 10:02] HosseinAgha commented on #46375
@CaselIT @g-pascal
Please also take look at this issue before merging anything: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/39358
IMHO opening up the types for a special very abstract/generic use case usually results in more runtime bugs.

[2020-09-06 10:28] ExploringPCF opened #47299 "How do i get entityId ?"
Is something wrong with CI or publishing infrastructure?

- Check the [Infrastructure status updates](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/44317) thread for known issues.
- Leave a message on the [DefinitelyTyped Gitter](http://gitter.im/DefinitelyTyped/DefinitelyTyped).

If you know how to fix the issue, make a pull request instead.

- [ ] I tried using the `@types/xxxx` pack

[2020-09-06 10:37] ExploringPCF commented on #47299
I'm trying to get below code execute in NEW PCF Project:
this._labelElement.innerHTML = context.page.entityId;

**Error:**
	"message": "Property 'page' does not exist on type 'Context<IInputs>'.",

Anyone could please let me know if i'm referring old Component Framework?

[2020-09-06 11:40] Semigradsky commented on #47299
@ExploringPCF  There is no `page` in doc: https://docs.microsoft.com/en-us/powerapps/developer/component-framework/reference/context

[2020-09-06 15:12] peterblazejewicz commented on #47274
@SinBirb can you point where these different (from number pixel) types are documented?
Thx!

[2020-09-06 17:49] lloydrichards commented on #47296
I'm actually having the exact same problem and found out that it kind of a breaking change from V6 of D3.  Basically the problem came with ES6 and arrow functions where they were no longer able to bind `this` to the functions.  As a result of the newest version of D3 now has the `.on("mouseover", (e: Event, d: Datum)=> void)`  the Type for D3 is still using the old version (5.7 I think?).

http://

[2020-09-06 18:28] lloydrichards commented on #47296
https://observablehq.com/@d3/d3v6-migration-guide

As I'm trying to implement more and more of V6 I'm noticing a lot of breakage as a result of Typescript expecting certain things which either aren't there (Pointers) or are completely different (Select).  Until I hear from someone that the type will be updated soon, it'll probably be easier to just downgrade back to V5 for now

[2020-09-06 23:14] hisham commented on #46163
Hey @peterblazejewicz - I don't think this is fixed in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/46172

I still see ```readonly user_fields?: object | null;``` in ResponseModel.

See https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/node-zendesk/index.d.ts#L894

[2020-09-07 04:15] nathandines opened #47314 "Wrong type in CloudWatchEvent?"
I'm raising this as an issue, rather than a PR, as I'm not sure on this one. Is the event property in the referenced interface actually meant to be a `CloudWatchEventType` type?

I'm suspecting that might be the case, as [the documentation on the serverless website](https://www.serverless.com/framework/docs/providers/aws/events/cloudwatch-event/) certainly seems to fit that shape of data, rather t

[2020-09-07 06:32] danmana commented on #47274
You are right, it looks like it supports Dates too. I'll make an update

[2020-09-07 07:22] Radiergummi commented on #47296
Aha! That makes sense... I'm working on a new project and this is the first time I'm implementing D3 with Typescript, so I weren't aware of a new version. I opted for `@ts-ignore` above the listener attachments, as PhpStorm will not let me forget those... I guess I'm going to try and stay on V6 :/

[2020-09-07 07:24] SpineEyE commented on #47274
Thank you!

[2020-09-07 10:13] #47287 closed

[2020-09-07 15:20] RuudBurger opened #47323 "[@types/react] forwardRef/React.FC generic props overwritten by defaults in destructuring"
I'm having issues with destructuring props and setting default values changes the expected typing.

Minimal usecase
[code]

Without the default value typescript will give back this, which is what is expected.

![Screenshot 2020-09-07 at 17 08 42](https://user-images.githubusercontent.com/38136/92400798-ca1d6300-f12c-11ea-9ab6-49af776f8c7f.png)

If we set the `myProp` is set to `1` and it doesn't g

[2020-09-07 15:39] svenmuellerssen commented on #10097
I had the same issue while building package "nest-schedule/0.6.4".
Installing typescript v3 with `npm install typescript@3.5.1` solved it.

Thanks a lot for that help here.

[2020-09-07 22:58] frangio opened #47329 "@types/node@10 error on TypeScript 4"
The latest version of `@types/node@10` (`10.17.29`), which includes the changes in https://github.com/DefinitelyTyped/DefinitelyTyped/pull/47195, are causing the expression `util.inspect.custom` from the module `util` to fail to typecheck.

[code]

If I ask the language server to show me the definition of `util.inspect` I'm sent to [the `ts3.1` version](https://github.com/DefinitelyTyped/Definitel

[2020-09-08 04:03] klazbaba opened #47333 "The children prop in react-native Pressable component should be optional"
The children prop in `@types/react-native` Pressable should be optional and not required. Because there are legitimate use cases where one might need something to click on without it wrapping anything. In a case like this, the TypeScript compiler raises an error, which shouldn't be the case.

Another thing observed is when a component is composed with Pressable, TypeScript seem to always expect th

[2020-09-08 08:33] efabris opened #47338 "[@types/mongodb] Wrong readonly predicate on MongoDB types"
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/8340511f346a28abcdf4b0811550c1ca81ea20e5/types/mongodb/index.d.ts#L1329

The type "DotAndArrayNotation<AssignableType>" has "readonly" fields. This not allow to make update query as:

[code]

Should "readonly" be removed to fix the error "Index signature in type 'MatchKeysAndValues<Domain>' only permits reading."?

[2020-09-08 08:49] jordins opened #47339 "[@types/express]-Type 'P' is not assignable to type 'ParamsArray'"
Hi,

I'm getting this error with @types/express version upgrading from 4.17.7 to 4.17.8.

[code]
I'm using latest express: `"express": "4.17.1",`
and typescript: "typescript": "3.9.7"
I've tried also with the latest typescript version ("4.0.2") and I get the same.

Any help on this issue?

Authors:
@borisyankov
@puneetar
@dfrankland

[2020-09-08 12:18] #46952 closed

[2020-09-08 12:24] martis-git commented on #14877
Still actual

[2020-09-08 12:29] cscleison opened #47341 "Reference to node types is affecting tsconfig target"
This is happening to a lot of libraries so I'm creating a "generic" issue first to see if this is really a problem with the libs definitions and how this should be addressed.
Repository [repro](https://github.com/cscleison/ts-error)
[code]

[code]

A lot of type definitions from DefinitelyTyped have `/// <reference types="node" />` inside them. If you check Nodejs types, it references `es2018`. As

[2020-09-08 12:29] cscleison commented on #47341
@types/glob: @vvakame @voy @ajafff @peterblazejewicz the reference is in [this line](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/glob/index.d.ts#L9) and I have the problem when I install `webpack-dev-server`:
[code]

[2020-09-08 12:35] cscleison commented on #47341
@types/cheerio: @blittle @wmaurer @umarniz @LiJinyao @chennakrishna8 @AzSiAz @nwtgck @privatenumber the reference is in [this line](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/cheerio/index.d.ts#L14) and the issue happens when I install `@types/enzyme`:
[code]

[2020-09-08 12:45] chillinski commented on #47250
This was the same issue for us and we fixed it by using a fixed version (14.6.2) of @types/node in our devDependencies in the package.json.
[code]

[2020-09-08 12:46] chillinski commented on #47248
Same fix here.

[2020-09-08 13:12] cscleison commented on #47341
`npm i -D jest` also causes the issue. A lot of internal packages from jest reference the node types. @SimenB @NoHomey @jwbay @regevbr

[2020-09-08 14:22] SimenB commented on #47341
If we don't include the dependency `/// <reference types="node" />` will fail and cause type errors (e.g. https://www.runpkg.com/?jest-haste-map@26.3.0/build/index.d.ts#7). If there are better ways to deal with that I'd love to fix it

[2020-09-08 15:22] cscleison commented on #47341
Yeah, it looks to me there's nothing wrong with the libs anyway. A testing lib might be using new ES specs and that's fine. Seems like I will have to go on a "defensive mode", specifying the [`types`](https://www.typescriptlang.org/tsconfig#types) in my main `tsconfig` and having an extra `tsconfig` only for tests.

[2020-09-08 18:10] cscleison commented on #47341
`"types": [],` did the trick
for anyone facing this, make sure that all the libs you are using in your source (not tests) also don't reference `node`. I had one lib doing it, and as its types were very simple, i just wrote custom types for it removing the reference.

closing

[2020-09-08 18:10] #47341 closed

[2020-09-08 19:41] eduardo6722 commented on #47339
Same here

[2020-09-08 19:41] btusca commented on #47250
Hi guys! We are suffering the same problem here! How can we avoid to have to update to the last version of typescript? We are using version 2.2.1.

[2020-09-08 20:04] saramorillon commented on #47339
I get the same here, with 1 line of context if it can help:

![image](https://user-images.githubusercontent.com/4224278/92522562-3d070680-f21f-11ea-9e7b-4573600ed342.png)

[2020-09-08 23:40] pedrodbaptista commented on #47339
same here

[2020-09-09 02:54] love8587 commented on #47339
which version should I use to resolve this problem?

[2020-09-09 03:03] JuanJo4 commented on #26218
I have a similar use case as @RyanThomas73 where we need both types, `lib.dom` and `react-native` types but it gives the "Duplicate identifier..." errors. As a temporary workaround, I've added `skipLibCheck: true` in tsconfig but it's not ideal, I'm curious to know if anyone has been in the same situation and how are they managing it...

[2020-09-09 03:53] eoyx12 opened #47365 "https://www.contributor-covenant.org/version/2/0/code_of_conduct/code_of_conduct.txt"

[2020-09-09 07:01] PillowPillow commented on #47339
@love8587 the 4.17.7 works fine

[2020-09-09 07:55] AdrienLemaire opened #47369 "apollo-upload-client incorrect type"
- [x] I tried using the `@types/apollo-upload-client@14.1.0` package and had problems.
- [x] I tried using the latest stable version of tsc.
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
 - Authors: @tyankatsu0105 , @Slessi

Getting the error:
[code]

With the following call (showing that I'm using crea

[2020-09-09 08:12] love8587 commented on #47339
I deleted package.lock.json and it works well. Thanks!

[2020-09-09 08:45] arnnis commented on #16825
I'm using `@types/react-native": "~0.62.13"` and there is no global definition at all.

[2020-09-09 09:37] MalekBouba commented on #47339
The same issue for Nestjs users.
[code]
Specifically, when we update `@nestjs/platform-express` to the latest `^7.4.4`.. which is dependent on `Express` & `DefinitelyTyped`.
Any ideas?

[2020-09-09 10:47] pedrodbaptista commented on #47339
i forced the v4.17.7 and worked well also for me

[2020-09-09 10:55] MalekBouba commented on #47339
Same @pedrodbaptista
But a PR is appreciated

[2020-09-09 13:06] severindupouy commented on #47339
@mastermatt
Any idea ? The merge you made a week ago broke something, could you have a look ?
Thanks.

[2020-09-09 14:21] BohdanYavorskyi opened #47376 "Incorrect component types in @types/mui-datatables"
- [x] I tried using the `@types/mui-datatables` package and had problems.
- [x] I tried using the latest stable version of tsc.

- Authors: @Favna , @ankithkonda , @hwatersiv , @souppower , @byrekt

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/8340511f346a28abcdf4b0811550c1ca81ea20e5/types/mui-datatables/index.d.ts#L568

Getting TS error:
JSX element type 'TableToolbar' does not have an

[2020-09-09 15:09] orrybaram commented on #47265
@zimmicz Hi, Im the author of that article and Im here cause I was having a separate issue. I think I have a fix for ya though!
Try this out:

[code]

or

[code]

[2020-09-09 16:36] snyamathi commented on #47339
Update your version of `@types/express-serve-static-core` - that fixed it for me.

[2020-09-09 16:46] smichel17 commented on #37920
I'm pretty sure this issue is present in plain js, and this change would result in compiled js that crashes at runtime; so, it's a good thing that the compiler warns you about it. The issue is that CommonJS (node)'s `require()` has different semantics than ES2015 modules' `import *`

- `require()` can return a function (which may also have other properties)
- `import` will always return just a pla

[2020-09-09 17:01] mastermatt commented on #47339
This is a known issue between these two packages that always comes up when there is a change. Unfortunately, DefinitelyTyped doesn't offer a way to force a minimum version on sub-dependencies, it just lists `"@types/express-serve-static-core": "*"`.
This means that any existing installs with `@types/express-serve-static-core` will not be updated automatically when `@types/express` is updated.
As o

[2020-09-09 17:17] severindupouy commented on #47339
Ok, thanks for your explanation.

[2020-09-09 17:27] ziyaddin commented on #37920
@smichel17 thanks for explanation!

[2020-09-09 18:41] Favna commented on #47376
Yeah you're right. This package has had some difficulties of getting merged because I'm the only one of the authors who seems to check their GitHub notifications. Therefore I think it would be a good idea if you create the pull request, then I can approve it and with the way the bot works it will be available on NPM much quicker than waiting for staff to approve it.

[2020-09-09 20:42] V-Gutierrez commented on #47376
@Favna could you assign it to me ? I'd like to work on it

[2020-09-09 20:53] #47274 closed

[2020-09-09 20:56] BohdanYavorskyi commented on #47376
@Favna I added the PR https://github.com/DefinitelyTyped/DefinitelyTyped/pull/47385.
Could you take a look at it?

[2020-09-09 21:07] davidlj95 commented on #43768
Possibly duplicated
https://github.com/DefinitelyTyped/DefinitelyTyped/issues/47339

[2020-09-09 21:10] davidlj95 commented on #47339
@mastermatt thanks for the answer!

Is that known issue regarding the minimum version on sub-dependencies going to be tackled at any point. If there's an issue for that issue ( :P ) could you provide the link so we keep an eye on it?

[2020-09-10 07:57] qkreltms opened #47413 "[@types/Reactstrap]Maybe Spinner type error?"
- components: `Spinner`
- reactstrap version `#4.5.2`
- import method `es`
- react version `#16.13.1`
- bootstrap version `#4.5.2`
Authors: @alihammad, @mfal, @danilobjr, @FaithForHumans, @timc13, @prabodht, @georg94, @kyletsang, @ichiwa, @chimericdream
### What is happening?

I'm trying to make wrapper function for default props so I tried:
[code]

SpinnerAProps just extends SpinnerProps what Spi

[2020-09-10 09:22] dushyant89 opened #47415 "[@types/express-rate-limit] - Incorrect method signature for MaxValueFn"
Hello

The method signature for the method `MaxValueFn` seems incomplete as the [documentation](https://www.npmjs.com/package/express-rate-limit#max) says that the `max` property can be a function type which takes `req, res` as parameters.

Since the npm package has evolved to version 5 so i think we didn't evolve the types.

Authors:
@jdforsythe

[2020-09-10 09:47] dushyant89 commented on #47415
Just discovered that the npm package has a [version](https://github.com/nfriedly/express-rate-limit/releases/tag/v0.0.0-typescript-beta-7) which works with typescript, so we can close this issue.

[2020-09-10 09:47] #47415 closed

[2020-09-10 10:00] julien-sarazin commented on #45323
Any update on this one ?

[2020-09-10 10:49] BohdanYavorskyi commented on #47376
@Favna Could you merge the PR https://github.com/DefinitelyTyped/DefinitelyTyped/pull/47385?

[2020-09-10 12:11] RuudBurger commented on #47323
Closing this as it isn't related to the react types. I opened a ticket on typescript issues page: https://github.com/microsoft/TypeScript/issues/40438

[2020-09-10 12:11] RuudBurger commented on #47323
Closing this as it isn't related to the react types. I opened a ticket on typescript issues page: https://github.com/microsoft/TypeScript/issues/40438

[2020-09-10 12:11] #47323 closed

[2020-09-10 12:17] #47376 closed

[2020-09-10 15:07] Timmmm opened #47439 "[dagre] Dagre graphlib types are wrong"
- [x] I tried using the `@types/xxxx` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see `De

[2020-09-10 16:12] moonray commented on #44363
Half a year later. Some chart types are sadly still missing.

[2020-09-10 16:29] salomonMuriel commented on #44363
I had to move to nivo.rocks due to this :(

On Thu, Sep 10, 2020, 11:12 AM Bala Bosch <notifications@github.com> wrote:

[2020-09-10 17:04] balazsbotond commented on #13079
@xdimitarx @coolgk @alexandro81

I have good news: I've just tried and this issue seems to have been resolved (latest Typescript, latest @types/react-bootstrap):

[code]

If you want to state the parameter types explicitly, you need to write:

[code]

The new `SelectCallback` definition is:

[code]

[2020-09-10 17:24] kyletsang commented on #47413
Probably better for `SpinnerProps` to extend `React.HTMLAttributes` rather than `React.HTMLProps`.

On a side note, are you trying to use reactstrap or react-bootstrap?  You are importing Spinner from reactstrap but the props being passed into the component are not correct - they are named after props in react-bootstrap.

[2020-09-10 19:59] wnbittle opened #47462 "[@types/xrm] XrmEnum.ClientFormFactor has wrong enum values"
Authors: @derekfinlinson @6ix4our @markusmauch @daryllabar @clownwilleatme @scottdurow

The `XrmEnum.ClientFormFactor` values do not match the [documentation](https://docs.microsoft.com/en-us/powerapps/developer/model-driven-apps/clientapi/reference/xrm-utility/getglobalcontext/client#getformfactor).

[code]

I didn't check other enums, but it might make sense to confirm others are correct at the

[2020-09-11 00:20] GrahamLea commented on #47439
I'll ask the obvious question: Should Dagre have a copy of Graphlib's types at all? Or should it import them?

[2020-09-11 01:56] jeffvandyke commented on #31065
TLDR: If your initial value is `null` (details: or something else outside of the type parameter), then add `| null` to your type parameter, and that should make `.current` able to be assigned to like normal.

[2020-09-11 06:02] freddy38510 commented on #45479
Thanks @IlCallo, i should definitively test the extension with TypeScript support enabled :)

It seems that @quasar/cli is using version "1.0.4", whereas this extension is using version "1.0.5".

[2020-09-11 07:54] Timmmm commented on #47439
I suspect they copied them so that they could require extra types on the nodes. As far as I understand it Graphlib is a general purpose graph library so nodes can have any properties, but Dagre is a layout algorithm so it needs some properties to exist (width, heigh, etc.)

I think the thing that most makes sense is to change Graphlib to have a generic type parameter for the labels/nodes (which ca

[2020-09-11 15:00] J-Gonzalez opened #47511 "[@types/braintree-web-drop-in] payPal buttonStyle property has invalid type"
Link to thread on Braintree Repo: https://github.com/braintree/braintree-web-drop-in/issues/658

The type for buttonStyle on paypal on DefinitelyTyped  is defined as a string, but should be an object that allows the following properties: https://developer.paypal.com/docs/integration/direct/express-checkout/integration-jsv4/customize-button/#button-styles

https://github.com/DefinitelyTyped/Definit

[2020-09-11 17:13] ms-ww commented on #46571
Also running into this same issue.

[2020-09-11 17:18] ms-ww commented on #46571
I am still having it on @types/jest version ^24.0.0 (which resolves to 24.9.1)

[2020-09-12 18:14] corwin-of-amber opened #47537 "[@types/codemirror] Missing property in TextMarkerOptions"
Missing property `attributes` in `options` argument to `CodeMirror.Editor.markText`.
I think it should be: `{..., attributes: {[name: string]: string}, ... }`.

Following: https://codemirror.net/doc/manual.html#api_marker

- [x] I tried using the `@types/xxxx` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a que

[2020-09-13 02:07] alexander729 commented on #47339
Same issue.
Repo has been dockerized and I have got this error when I run 'docker-compose up'.

[2020-09-13 03:24] quicksnap commented on #45702
I think the type can be added to `ThemeStyledFunction` interface as follows:

[code]

[2020-09-13 03:29] quicksnap commented on #45702
Derp, it appears my typings are out of date. This seems to be fixed in latest.

This issue probably should be closed?

[2020-09-13 04:39] NoahStahl commented on #45993
Same issue here, adding "@types/node" to compilerOptions > types didn't help. Issue appear after upgrading dependencies, not sure which is cause....

[2020-09-13 06:20] NiizumaEiji opened #47544 "[@types/parse] File#save should contain FullOptions instead of SuccessFailureOptions"
Missing property of FullOptions in File class. Without that authorization using masterKey is impossible.

authors: @dpoetzsch, @flavionegrao, @wesleygrimes, @agoldis , @AlexandreHetu, @dplewis, @yomybaby, @pocketcolin, @rdhelms

[2020-09-13 09:00] mirik999 commented on #34882
It is not best practice but while we cant find any solution we can use
//@ts-ignore
import styled from 'styled-components';

[2020-09-13 11:30] sergburn opened #47550 "Node/perf_hooks/measure(): startMark and endMark are optional in Node@12 since 12.16.3"
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/0c580efbf39f41a5268d23e0f762be8153c76ef1/types/node/ts3.1/perf_hooks.d.ts#L119

Link to documentation:
https://nodejs.org/dist/latest-v12.x/docs/api/perf_hooks.html#perf_hooks_performance_measure_name_startmark_endmark

[2020-09-13 19:05] OliverJAsh commented on #27840
How about this? https://github.com/DefinitelyTyped/DefinitelyTyped/pull/47553

[2020-09-14 04:18] Babeetlebum commented on #47339
If you don't want to delete your `yarn.lock` file check out https://github.com/yarnpkg/yarn/issues/4986 on how to update a specific sub-dependency on yarn

[2020-09-14 07:46] kishor82 commented on #25605
@sqren  i am getting `Type 'Request' is not generic.` when i pass generic argumanet.

[2020-09-14 08:15] hotlong commented on #44591
+1

[2020-09-14 09:13] sqren commented on #25605
@kishor82 My examples don't work. They are merely suggestions for how I think it could work.

[2020-09-14 11:58] shanytc opened #47563 "Outdated /DefinitelyTyped/DefinitelyTyped/tree/master/types/remarkable"
This supports only 1.7 and not 2.1.0

- Check the [Infrastructure status updates](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/44317) thread for known issues.
- Leave a message on the [DefinitelyTyped Gitter](http://gitter.im/DefinitelyTyped/DefinitelyTyped).

If you know how to fix the issue, make a pull request instead.

- [x] I tried using the `@types/xxxx` package and had problems

[2020-09-14 12:45] rodoabad commented on #41419
@fregante what would be the correct type?

[2020-09-14 14:49] bessam-haj-salem commented on #35013
Todd you are a genious you saved my life

[2020-09-14 14:50] fregante commented on #41419
I haven’t checked but my guess is that ElementContentEditable also needs to have the same booleanish prop.

[2020-09-14 15:21] jcagz96 commented on #37920
I resolved that runninh the next commands:

1º
`yarn tsc --init`

2º
`yarn tsc`

[2020-09-14 16:20] kaiyoma opened #47571 "[@types/lodash] New version of types breaks type for _.throttle"
Is something wrong with CI or publishing infrastructure?

- Check the [Infrastructure status updates](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/44317) thread for known issues.
- Leave a message on the [DefinitelyTyped Gitter](http://gitter.im/DefinitelyTyped/DefinitelyTyped).

If you know how to fix the issue, make a pull request instead.

- [x] I tried using the `@types/xxxx` pack

[2020-09-14 16:23] kaiyoma commented on #45993
Same problem here. Upgraded version 4.41.21 to 4.41.22 and started getting this error.

[2020-09-14 23:12] ferm10n commented on #19601
My team also ran into this issue, and downgrading @types/webpack-env did not help.

Instead, we were able to resolve it by rolling back @types/node@14.10.1 to @types/node@14.0.27

[2020-09-15 00:55] totony-misc opened #47589 "[@types/react] No type definition for SVGAnchorElement <a>"
- [x] I tried using the `@types/xxxx` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see `De

[2020-09-15 09:35] Slessi commented on #47369
@AdrienLemaire provide a reproduction repository if you want me to look at this

[2020-09-15 12:09] kdnog123 opened #47597 "[Request] Type definition for @electron/remote"
Here is the package/repo: https://github.com/electron/remote

[2020-09-15 12:34] Shinigami92 opened #47598 "[@types/prettier] Plugin.options seems to be fundamentally different from what Prettier expects"
- [x] I tried using the `@types/prettier` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see `Definitions by:` in `index.d.ts`) so they can respond.
  - Authors: @ikatyang @ifiokjr @ffflorian @sosukesuzuki

---

https://github.com/Def

[2020-09-15 18:26] sandersn commented on #47022
@kumaresan-subramani what version of typescript are you using? It looks like it's a version that

1. Doesn't understand the typesVersion entry in package.json, so pre-3.1.
2. Doesn't understand conditional types, so pre-2.8.
3. (From your follow-up error) Doesn't understand asserts guards, so pre-3.7.

Definitely Typed only supports TS 3.2 and above, so you'll need to use an specific old version o

[2020-09-15 18:27] brammitch commented on #35321
I think this can be closed. `showscale` was added in #42882

[2020-09-15 18:38] budarin opened #47602 "[@types/node] error TS2430: Interface 'NodeJS.Module' incorrectly extends interface '__WebpackModuleApi.Module'."
- [x] I tried using the `@types/xxxx` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for Gitter.
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see `Definitions by:` in `index.d.ts`) so they can respond.
  - Authors: @jkomyno @a-tarasy

[2020-09-15 18:57] sanex3339 commented on #19601
Same problem with `@types/node@14.10.1` and above

[2020-09-15 19:03] euanmillar commented on #47602
I am also getting this.  "parent" type is incompatible with webpack
![Screenshot 2020-09-15 at 20 02 04](https://user-images.githubusercontent.com/3169954/93253135-5dd6db00-f78e-11ea-843e-e99ab0400b48.png)

[2020-09-15 20:56] Flarna commented on #47602
I think https://github.com/DefinitelyTyped/DefinitelyTyped/pull/47516 should fix this.

[2020-09-16 08:31] Shinigami92 commented on #19601
Having this problem with `@types/node@14.10.1` but not with `@types/node@14.10.0` !!!
Just a bugfix release turns out to be a breaking change :eyes:

[2020-09-16 08:54] Ralle opened #47622 "@types/formidable with option { multiples: true }"
The package `formidable` has the following option:
[code]

Which allows you to submit forms such as these:
[code]

With `multiples: false`, the result will be:
[code]

With `multiples: true`, the result will be:
[code]

I am not sure how this can be expressed in TypeScript, but at the very least we need more vague typing.

From what I understand, you can make infinitely nested dictionaries in form

[2020-09-16 09:58] Shinigami92 commented on #47598
@fisker Can you tell me if `SupportOption[]` is even valid or if this is an outdated thing?
Can I therefore completely rewrite the definitions or do I have to support this array variant as well?

[2020-09-16 10:06] fisker commented on #47598
I'm sorry, I'm not familiar with this part. But I guess it should have something to do with [vnopts](https://github.com/ikatyang/vnopts).

[2020-09-16 10:27] igl commented on #47571
Passing a async function to throttle will turn its return value to `| undefined`.

All our throttled async functions now fail `tsc` check with

`error TS2532: Object is possibly 'undefined'.`

[2020-09-16 10:32] Shinigami92 commented on #47598
@fisker Do you know who in prettier's core team could help here?

[2020-09-16 10:46] Ralle commented on #47622
Uh oh. this is apparently for version 2 only and that one has yet to be released.

[2020-09-16 10:46] #47622 closed

[2020-09-16 10:47] fisker commented on #47598
I think @ikatyang can help.

[2020-09-16 11:03] HenningCash commented on #47369
You need to have a matching version of `@apollo/client` installed. Unfortunately, `@types/apollo-upload-client` will install their own version of `@apollo/client` and if this version is incompatible with you main project's `@apollo/client` this will lead to weird errors.

Current solution is to use the same `@apollo/client` version-range like `@types/apollo-upload-client`. Currently, this is `^3.1

[2020-09-16 11:08] ikatyang commented on #47598
Ref: https://github.com/prettier/prettier/blob/e857c4e88ffbf0c2fb213ee7172fbe9431ab87a8/src/main/support.js#L36

It's implemented using arrays internally, but the external interfaces are objects. Didn't remember why I wrote it this way. 😅

[2020-09-16 11:14] backbone87 opened #47627 "[@types/node] ServerResponse.socket/connection may be null"
`ServerResponse.socket` & `ServerResponse.connection` may be null, but are declared to be always `Socket`

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/node/http.d.ts#L157-L158

https://nodejs.org/docs/latest-v12.x/api/http.html#http_response_socket

[2020-09-16 11:34] AdrienLemaire commented on #47369
I was on v3.1.5 when I created the issue, and since then bumped to 3.2.

I tried again to set `export default errorLink.concat(authLink.concat(terminatingLink));`, and it's now working without a problem. Issue solved for me, but leaving open for @HenningCash's suggestion. Feel free to close :)

[2020-09-16 11:46] Slessi commented on #47369
@HenningCash I don't use this library anymore so I'm not motivated to make any PRs myself

[2020-09-16 11:49] #47602 closed

[2020-09-16 12:24] Shinigami92 commented on #47598
@ikatyang So the declarations are indeed just wrong?

I currently need to use `as any` here

https://github.com/prettier/plugin-pug/blob/c2dcc5729b89423ee13fa4bee583024cb3fcb682/src/index.ts#L102

[2020-09-16 13:29] ikatyang commented on #47598
Yes, it seems to be the case.

[2020-09-16 14:00] zbinlin opened #47633 "[@types/react] react.ElementType infers type missing with Typescript's `dom` lib"
tsconfig.josn:
[code]

Examples: https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAKjgQwM5wEoFNkGN4BmUEIcARFDvmQNwBQdMAnmFnAKIA2WIWAdjAAqLLOgC8mKjAB0XHvyEiAPNjwyAEoICyAGQAKxMKiWbdc3gIB8l+rgh9U8ACbAAbgC4O3C4tbi4AOQurgE0cAD04RxQxFCewqyBZMFkAXDA6HwQ8GiowADmfMgARtxwMBDlIoHmCglYJtr6hsamOrVWlgHSDJFwAGLEpKr4st51IozVAMIAro4kHb4NenASyHxMlmt0cHtwAN67+ycA2gDS6XxwANZYTBAEcABSAMoAGtIAkgJQwA7AXBLVAAXU8b0+

[2020-09-16 16:05] ferm10n commented on #19601
@sandersn So maybe those of us who are affected should try to target the packages that use @types/node instead?

I could see that leading to having multiple installs of @types/node at slightly different versions, I'm not familiar enough with how these types are used to determine if that'd be an issue but I'd expect it to be fine.

[2020-09-16 20:13] BohdanYavorskyi opened #47651 "[@types/yup] TestOptionsMessage type should be updated to ReactNode (not string)"
- [x] I tried using the `@types/yup` package and had problems.
- [x] I tried using the latest stable version of tsc.
- Authors: @vtserman @dhardtke @MoretonBayRC @sseppola @YashdalfTheGray @vincentjames501 @robertbullen @sat0yu @deskoh @mauricedb @kalley @elias-garcia @iansan5653 @fjc0k

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/f87f81730a873caec8d737e16971b5a08db06a5c/types/yup/inde

[2020-09-16 20:25] iansan5653 commented on #47651
I can't take a closer look at the moment but it definitely should not be `ReactNode` - this is not a React-specific library.

[2020-09-16 23:37] frangio commented on #47329
Fixed by https://github.com/DefinitelyTyped/DefinitelyTyped/pull/47645.

[2020-09-16 23:37] #47329 closed

[2020-09-17 00:22] slamuu opened #47686 "[@types/mongo] `FilterQuery` not valid when querying for null or missing fields"
When querying for null or missing fields, e.g. `db.collection<{ field: string }>().find({ field: null })`, the criteria `null` is not a valid criteria even though documentation allows it (https://docs.mongodb.com/manual/tutorial/query-for-null-fields/#equality-filter)

I'm wondering if this case should be added to `mongodb.FilterQuery` type, via

https://github.com/DefinitelyTyped/DefinitelyTyped/

[2020-09-17 01:51] levi-pires commented on #32387
It works only with the DOM library.

[2020-09-17 03:14] kumaresan-subramani commented on #47022
HI @sandersn ,

I am using typescript version `2.7.2`

[2020-09-17 04:09] opiation commented on #38173
I, too, get effectively un-compiling `map` use with plains objects, even without any unions and the most recent `master` of `@types/ramda`.  The following does not compile for me:

[code]

In the first case, it seems Typescript does not recognize `myMap` as an object but as a `Functor`.  In the second case, `myMap` is treated as an array.

I seem to be able to get correct type inference by adding

[2020-09-17 09:01] textbook commented on #47339
For NPM users, to update your dependency on `@types/express-serve-static-core` _without_ just blowing away all of `package-lock.json`, you can use [`update`](https://docs.npmjs.com/cli/update) with the `--depth` set to include the first level of transitive dependencies:
[code]

[2020-09-17 10:34] wclr opened #47695 "[@types/ramda] Split definitions into separate files"
I think it is better to split single index into separate files
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/ramda/index.d.ts

It will make maintenance and contributions more comfortable.

[2020-09-17 14:23] dgurns commented on #27288
Thank you @kaaloo, lifesaver!

[2020-09-17 16:52] DanielPower opened #47705 "[fabricjs] Update type definitions agains Fabric 4.1.0"
- [x] I tried using the `@types/xxxx` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see `De

[2020-09-17 19:09] mauricedb commented on #47651
@BohdanYavorskyi Did you update your validation message to be a string and did that work? As @iansan5653 mentioned Yup is not tied to React and a React, or other framework, specific type is not a valid message type.

[2020-09-17 19:10] jamescdavis commented on #47602
Fixed in [@types/webpack-env@1.15.3](https://www.npmjs.com/package/@types/webpack-env/v/1.15.3)

[2020-09-17 20:49] BohdanYavorskyi commented on #47651
Thanks @iansan5653 @mauricedb. I fixed my issues without changing types. So I'll close the issue soon.

[2020-09-17 20:49] #47651 closed

[2020-09-17 20:52] george-norris-salesforce commented on #18569
So you can't just use `Multer.File` globally? Why?

This is ugly..
[code]

[2020-09-17 21:10] george-norris-salesforce opened #47741 "How to extend Express Request?"
Why is Typescript NOT extending the Request object? I'm beyond frustrated trying to get this to work..

Declare the type.. after installing the @types/Express package..

[code]

[code]

`Property 'user' does not exist on type 'Request'`

WHY? WHY? WHY?

[2020-09-17 21:19] davidthrasher opened #47742 "Type for method updateLineItems() does not match name in shopify-buy"
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/464e13b9387252f7730db987ace1dc9076373232/types/shopify-buy/index.d.ts#L98

it would appear the method name is actually `updateLineitems()`

Is there a reason this type is name `updateLineItem`?

[2020-09-17 22:08] natac13 opened #47745 "Should the SNS event not have a arn field?"
Should the sns event not have an arn field like sqs? https://www.serverless.com/framework/docs/providers/aws/events/sns/
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/665d71ffc3efb5d52f7e81c32ea546accc76e0ab/types/serverless/plugins/aws/provider/awsProvider.d.ts#L367

- [x] I tried using the `@types/serverless` package and had problems.

- [x] [Mention](https://github.com/blog/821-mentio

[2020-09-18 04:55] slegaitis commented on #27288
Omg I wasted about 3 hours on this @kaaloo thanks!!!!

[2020-09-18 07:45] Shinigami92 commented on #19601
Works again with `14.11.1` as if nothing had ever happened 🤷‍♂️

[2020-09-18 10:35] SkyFire2013 commented on #10734
Thanks men, this really helps me.

[2020-09-18 12:23] millsp commented on #41510
@KSXGitHub, is this still a problem?

[2020-09-18 12:29] KSXGitHub commented on #41510
@millsp IIRC, I worked around this problem by stop using ramda (I wrote my own library), so I don't know.

[2020-09-18 12:50] millsp commented on #41510
I can confirm that it's fixed, you can close the issue

[2020-09-18 12:56] KSXGitHub commented on #41510
@millsp I'm not sure. Even the latest version of `ts-toolbelt` still has `declare module "..."`. I'm pretty sure this problem will occur again in the future.

[2020-09-18 13:05] millsp commented on #41510
I see. Sorry about that. Will fix soon

[2020-09-18 13:34] millsp commented on #41510
Not actually. The problem was caused by `declare module "index"` which I changed to `declare module "ts-toolbelt"`. This is exactly how the upcoming type bundling feature is going to work https://github.com/microsoft/TypeScript/pull/39277. No problem.

[2020-09-18 13:35] davidthrasher commented on #47742
![Screen Shot 2020-09-17 at 4 17 26 PM](https://user-images.githubusercontent.com/25215475/93603587-35b7c980-f992-11ea-82c6-3a80b0fcbbd4.png)
![Screen Shot 2020-09-17 at 4 17 10 PM](https://user-images.githubusercontent.com/25215475/93603596-381a2380-f992-11ea-8bc6-24fe64ca2cd6.png)

[2020-09-18 14:19] joeflateau commented on #47741
https://joeflateau.net/posts/extending-express-request-response-objects-in-typescript

[2020-09-18 19:26] mhosman opened #47778 "[@types/ol] Last update broken"
`ERROR in node_modules/@types/ol/Geolocation.d.ts:77:24 - error TS2304: Cannot find name 'GeolocationPositionError'.`

[2020-09-18 19:58] george-norris-salesforce opened #47780 "Express' has no exported member 'Multer'"
Express' has no exported member 'Multer'.
How do you use this library?

[2020-09-18 22:26] wyattjoh commented on #47686
This issue is compounded when used with the `ignoreUndefined: true` option in the `MongoClient` constructor which will not include fields with values of undefined in the documents.

It's imperative to allow null in places where properties are undefined, ie:

[code]

Would currently cause a type error. I could prepare a PR to address this if there's support for the change.

[2020-09-19 01:18] i5on9i opened #47785 "[@types/bookshelf] knex version in package.json might be removed"
Is something wrong with CI or publishing infrastructure?

- Check the [Infrastructure status updates](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/44317) thread for known issues.
- Leave a message on the [DefinitelyTyped Gitter](http://gitter.im/DefinitelyTyped/DefinitelyTyped).

If you know how to fix the issue, make a pull request instead.

- [x] I tried using the `@types/xxxx` pack

[2020-09-19 01:41] kyletsang commented on #47413
Thanks for confirming @AlexeyDrobot.  There's a number of places where this would need to be fixed.  When I get time, I can take a look at cleaning this up.

[2020-09-19 01:43] john-larson opened #47786 "[@types/select2] requirejs dependency"
Why is there a @types/requirejs dependency for @types/select2? It causes conflicts with other typings. Could this be removed if not necessary?

[2020-09-19 13:07] natac13 opened #47791 "AWS Serverless !Ref?"
- [x] I tried using the `@types/serverless` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (s

[2020-09-19 14:51] drtyh2o commented on #46639
I am pretty sure this is related to a recent update to `@types/express-serve-static-core` that changed the declaration of `Response.locals` from `any` to `Record<string, any>` .... this basically defines it as an object with potentially infinite properties and prevents constraining it to a more specific type. This is a rare example where the previous `any` type was actually more useable.

[2020-09-20 00:25] codejamninja commented on #21022
Thanks @simondel

[2020-09-21 09:16] icy0307 opened #47824 "[@types/react]Cannot use extended generic type in React.ComponentClass's props"
React version:
@types/react@16.9.49
@types/prop-types@15.7.3
ts version 4.0.2
## Steps To Reproduce

[code]

Link to code example:

https://www.typescriptlang.org/play?target=1#code/JYWwDg9gTgLgBAJQKYEMDG8BmUIjgcilQ3wG4BYAKGADsYkpN0k4BBOAbyrh7hQC44NAK4gARgwqUAvlTmVMwmhmAQacTBAgAKMCigoQg5OhgA6AMK5INJHQsAbFAGdnAHlYA+AJSduvIhhhKHU9AxApWUoqRWUYVXUxfTcAFTgkAA96GgATZzZPXX1DY2JzK3A1OxhHF3cUnz9KXg0tIvDvSK

[2020-09-21 09:26] timbru31 commented on #47778
Ping @hanreev as the code owner of this typings.

[2020-09-21 12:52] cefjic commented on #19601
I have the error `Interface 'NodeJS.Module' incorrectly extends interface '__WebpackModuleApi.Module'.` on v14.0.27

[2020-09-21 13:03] ferm10n commented on #19601
What are the odds that there's different versions of the same package?

Here's an idea to help us figure things out. For anyone experiencing this problem currently and in future:
- `npm ci` to do a clean install
- verify the error is still present
- comment and attach your project's package-lock and tsconfig (remove sensitive stuff if needed)

[2020-09-21 18:19] NoahStahl commented on #45993
This resolved for me with my latest attempt today to upgrade all dependencies in my project.

[2020-09-22 01:23] canove commented on #18569
I just used:
[code]

Without import express first.. So maybe its available globally.

[2020-09-22 08:04] UncleVic opened #47873 "[@types/mongoose] SchemaDefinition doesn't have generic"
Hi, there!

If I have interface describes my object, I can't typing mongoose.SchemaDefinition, because it doesn't have generic
SchemaTypeOpts<any> - doesn't work at all.

`  interface SchemaDefinition {
    [path: string]: SchemaTypeOpts<any> | Schema | SchemaType;
  }`

My solution has been tested on real project.

`  type SchemaDefinition<T = any> = {
    [P in keyof T]-?: SchemaTypeOpts<T[P]> |

[2020-09-22 10:43] tom-sherman commented on #41179
From what I can see the current expect API would need changes to TypeScript to support assertion functions, so I've been playing around with some alternative APIs that are possible right now. Like the current chaining API, it looks like currying is not possible either eg. `expect(x)(toBeDefined())`, however I've come up with this:

[code]

[Playground](https://www.typescriptlang.org/play?#code/C4T

[2020-09-22 11:23] NathanYocum opened #47879 "[@types/yargs] Path forward to supporting version 16.0"
Current version is listed as 15.0 -- the version being supported may have gotten a little lost while yargs was working on a TS migration and there were questions on whether this will be maintained -- https://github.com/yargs/yargs/issues/1586#issuecomment-690364421

- Authors: @poelstra @mizunashi-mana @pushplay @steffenvv @forivall @ExE-Boss @Aankhen

### v15.1
- [x] onFinishCommand (PR #41374) (

[2020-09-22 11:24] NathanYocum commented on #47879
Might be missing a few changes needed for 16.0 support since I was just going off of a cursory glance of the CHANGELOG.md in the yargs repo

[2020-09-22 14:47] Nabeelhassan commented on #32585
What should I do ? I am having the same error.. any suggestions?

[2020-09-22 14:50] Methuselah96 commented on #38939
I would also like to see the `d3` types become up-to-date. I'm planning on working on this as I have time. Here's my first PR: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/47883.

[2020-09-22 15:58] tobilen commented on #19601
Same issue with 14.11.2 in my project.
Working tree (including lockfile and package.json) -> https://github.com/ivx/react-skeletons/tree/d3ffc9fbbcf3f7c08a230e9c287a55b53d785ac7
CI Result: https://app.circleci.com/pipelines/github/ivx/react-skeletons/83/workflows/11182212-cb51-432b-9653-cf5cca0f22eb/jobs/216

Resolved it by removing `@types/node` since i didn't need it anymore. Output of `yarn why

[2020-09-22 19:46] davejlane opened #47953 "[styled-components] React Native types are being imported through Styled Components and overriding native methods"
When installing @types/styled-components, it appears that [types for React Native](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/react-native) get pulled in too.  [This commit](https://github.com/DefinitelyTyped/DefinitelyTyped/commit/eaf827fcc3ef334a2ecce2f3b8fe4d334a77e947) by @newyankeecodeshop   introduces a new `URL` class, and the native method `createObjectURL` appear

[2020-09-22 19:56] newyankeecodeshop commented on #47953
@davejlane I see that my type signature for that method is more restrictive, but also has a mistake. The return type should be `string` and not `URL`. Is the issue that the TypeScript DOM lib has the object argument as `any` while the React Native one restricts it to `Blob`?

[2020-09-22 20:01] davejlane commented on #47953
@newyankeecodeshop I *think* you're correct. Here's the error:

[code]

[2020-09-22 20:13] newyankeecodeshop commented on #47953
@davejlane Sorry! I can do a PR to fix. What about the argument? The React Native implementation only supports Blob. Is that causing friction?
FWIW, I would argue that these types should not be forcing the dependency on react native types. I imagine that only a percentage of styled components users are React Native applications?

[2020-09-22 20:19] davejlane commented on #47953
@newyankeecodeshop no problem. tbh I didn't get past figuring out the arguments. I would imagine that we'd want to at least honor the original arguments for this to work in a browser context.

The issue I have is that I discovered this in a web app. Ideally, I'd like for the react native types to not be included at all in that environment, but the react native types are a dependency of styled comp

[2020-09-22 20:25] newyankeecodeshop commented on #47953
@davejlane Well the issue is that I want the React Native types to reflect what React Native implements, which is only `Blob` support. Otherwise React Native users will get the impression they can do more with that method than is really supported.
Let me fix the return type and see where that gets us.

[2020-09-22 20:29] newyankeecodeshop commented on #47953
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/47957

[2020-09-22 20:48] davejlane commented on #47953
@newyankeecodeshop I think that this is more restrictive than the native web method, which accepts more types than `Blob` as an argument. https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL.

I completely understand wanting to restrict the method to types that will work for React Native, that makes total sense. The part that doesn't work well is that these types are affecting envi

[2020-09-22 21:25] paulmelnikow commented on #47953
This is a long-standing issue with @types/styled-components. See #33311.

[2020-09-22 21:52] Ledragon commented on #38939
Thanks for the effort, that sounds like a plan. Try to submit PR for full versions of packages though, to keep things consistent. I'll try keeping on working on d3-array when my previous PR will be merged

[2020-09-22 22:36] davejlane commented on #47953
@paulmelnikow thanks for the insight. I did go issue-diving but didn't find this. That's unfortunate for sure.

[2020-09-22 23:40] pushplay commented on #47879
Thanks for the background.  Hacktoberfest is coming up and I like free workout t-shirts.  If no one else grabs this by then I'll get on it.

[2020-09-23 02:25] AngusMorton opened #47963 "[styled-components] Discriminated union props types are broken when inheriting styles."
If you have a component that can be restyled and has a discriminated union type as a prop when you try to restyle it using the `styled(MyComponent)` syntax the types don't work as expected. You can work-around the issue by manually providing the type argument (e.g. `styled(MyComponent)<MyComponentProps>`) but it would be nice if this worked out-of-the-box.

Attached is a code sandbox, that is a bi

[2020-09-23 04:20] sovcik opened #48094 "Mongoose SchemaType does not expose property 'instance'"
package: mongoose
version: 5.7.36

Mongoose SchemaType has property 'instance' available as per https://mongoosejs.com/docs/schematypes.html, but it is not available in TS definition.

Authors: @horiuchi, @lukasz-zak, @jendrikw, @ethanresnick, @vologab

[2020-09-23 09:16] Cubelaster commented on #16990
Also experiencing the same issue.
Started breaking after npm update.
My fix is as follows:
`export default connect(mapStateToProps)(ConnectedIntlProvider) as unknown as ComponentType<unknown>;`

However, this way it works:
`export default connect<StateFromProps, null, OwnProps, ApplicationState>(mapStateToProps)(viewWithIntl);`

Using
    "@types/react": "16.9.49",
    "@types/react-redux": "^7.1.

[2020-09-23 15:48] mtoepfl opened #48107 "[@types/react-redux] connect without mergeProps as third argument"
Is something wrong with CI or publishing infrastructure?

- Check the [Infrastructure status updates](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/44317) thread for known issues.
- Leave a message on the [DefinitelyTyped Gitter](http://gitter.im/DefinitelyTyped/DefinitelyTyped).

If you know how to fix the issue, make a pull request instead.

- [x] I tried using the `@types/xxxx` pack

[2020-09-23 15:50] maurobernal opened #48110 "Property url missing"
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/68c01d7914e4c13a0859c238c8f8258cfd33b36f/types/kendo-ui/index.d.ts#L10479

interface WindowContent {
        template?: string;
        **url?: string;**
    }

[2020-09-23 15:53] maurobernal commented on #48110
Example:
 $("#dialog").kendoWindow({
            width: "850px", height: "550px", title: "This is demo",
            content: {
                **url:** "https://demo/page
            },
            modal: true,
            visible: true,
            iframe: false,
            open: adjustSize,
            position: {
                top: 50,
                left: "20%"
            }
        }).da

[2020-09-23 17:26] Nicholaiii commented on #47695
@alperklc
What's the motivation for the re-exports in `es` folder, rather than using individual declaration files? It does seem quite unreasonable for a 2200 line index file.

[2020-09-23 19:55] diegoazh commented on #18569
I have a tricky question about why VsCode tell me that `Express` is never read and I currently use `Express.Multer.File`, how can I solve it? 🤔
![image](https://user-images.githubusercontent.com/10166935/94062793-8cbc0500-fdbd-11ea-8e06-ed3082173a8a.png)
![image](https://user-images.githubusercontent.com/10166935/94062735-6e560980-fdbd-11ea-9178-9e9470a2a478.png)

[2020-09-23 20:25] peterblazejewicz commented on #48110
@maurobernal
It seems Telerik/Progress code is authored on GitHub and probably just republished here.
I'd advise to repost on GitHub project issues:
https://github.com/telerik/kendo-ui-core/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc

[2020-09-24 07:30] existomwasilewski opened #48126 "[@types/xrm] control.setDisable() property is missing"
Hi,

Property setDisable and getDisable are missing in control.

` Xrm.Page.data.entity.attributes.forEach(function (attribute, index) {
                var control = Xrm.Page.getControl(attribute.getName());
                if (control && control.setDisable != 'undefined') {
                    control.setDisable(true)
                }
});`

In this code I am occuring error in  lane:
`control.se

[2020-09-24 09:29] williamdes opened #48127 "[twig] Argument of type '{}' is not assignable to parameter of type 'CompileOptions'."
If you know how to fix the issue, make a pull request instead.

- [x] I tried using the `@types/twig` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/

[2020-09-24 12:28] daryllabar commented on #48126
You've got a couple problems with your code.  First off, the return type of getControl is `Controls.Control`  This is the most generic control type which doesn't support the disable functions, and their for why you get a compile error.  You should cast the control type (there is a generic function for this `getControl<T extends Controls.Control>` to be able to easily apply this cast) to the Standa

[2020-09-24 13:24] niksonkjohn opened #48131 "[@type/vis] 'Week'' Scale is missing in @type/vis( version - 4.21)"
I'm using vis/type (version 4.21). We need a week scale to display our timeline. But the week scale is missing from the type file. See the below code from my local file: vis-timeline/declaration/index.d.ts.
**Local version:**
export type TimelineTimeAxisScaleType = 'millisecond' | 'second' | 'minute' | 'hour' |'weekday' | 'day' | 'month' | 'year';

But in GitHub page, I can see week scale (https:/

[2020-09-24 13:36] fitfab commented on #42387
So this is how I have it setup for my project -- I hope this helps you.

[code]

[2020-09-24 16:04] kristiannotari opened #48137 "[@types/serverless] maximumRetryAttempts option missing in functions configuration"
~Is something wrong with CI or publishing infrastructure?~

- ~Check the [Infrastructure status updates](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/44317) thread for known issues.~
- ~Leave a message on the [DefinitelyTyped Gitter](http://gitter.im/DefinitelyTyped/DefinitelyTyped).~

~If you know how to fix the issue, make a pull request instead.~

- [x] I tried using the `@types/xx

[2020-09-24 18:14] twhitbeck commented on #34924
looks like the ball got dropped on this. I'm finding `@types/koa-session` completely useless without these changes

[2020-09-25 00:18] thomassuckow opened #48162 "Recent typings changes not appearing for latest version of puppeteer-core"
Puppeteer-core types which are identical to puppeteer types are lagging far behind recent changes. Is is possible to alias the types so only one of them has to be updated?

If not, is it safe to merely copy all the files from puppeteer and make a PR for puppeteer-core?

@marvinhagemeister
@cdeutsch
@ksm2
@SimonSchick
@SerbanGhita
@JasonKaz
@davecardwell
@angrykoala
@peterblazejewicz
@okko

[2020-09-25 02:27] tomholford commented on #45897
Gentle bump requesting a review :)

Thanks @martin-badin for your types, tried to use it like this in `package.json`:

[code]
But no luck. For now, will download it from your repo and use local files.

[2020-09-25 06:05] loremaps commented on #37165
It seems that `soon` was released with `v5.0.0`

[2020-09-25 06:23] guanzo commented on #20497
Getting the same issue trying to promisify `zlib` functions, like `const brotliCompress = promisify(zlib.brotliCompress)`

[2020-09-25 06:32] cherryblossom000 commented on #47339
For pnpm users, adding a `pnpmfile.js` with the following worked for me:

[code]

[2020-09-25 07:01] martin-badin commented on #47786
I looked at it and the type is necessary. One of the types from the package uses `Select2Plugin` interface.

[code]

[2020-09-25 08:37] naushad-madakiya commented on #46224
any plans on adding these changes?

[2020-09-25 12:14] zacnomore commented on #45297
@goulash1971 This repo contains types for multiple packages. What package contains `findOneAndReplace`?

[2020-09-25 12:23] zacnomore commented on #45037
Some references:
https://webpack.js.org/concepts/module-federation/#modulefederationplugin-high-level
https://github.com/webpack/webpack/blob/master/lib/container/ModuleFederationPlugin.js

Seems like a public API, [webpack types](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/webpack/v3/index.d.ts) look like they already have some other plugins so this looks achievable.

Thi

[2020-09-25 12:29] zacnomore commented on #45037
I'm going to take a crack at this one.
Webpack has these cool json schemas that should make this pretty easy: https://github.com/webpack/webpack/blob/master/schemas/plugins/container/ModuleFederationPlugin.json

[2020-09-25 12:31] lincolnthree commented on #46066
Just checking in. This issue is still blocking us from upgrading. The typings file is fairly ... complex. Could you perhaps give some tips for what to change so I could send a PR?

[2020-09-25 14:20] andreialecu commented on #46066
Unfortunately I don't see an easy way to bring `.id` back here simply because the logic tries to exclude all mongoose added virtuals, of which `.id` is one of them. It's not possible to differentiate where it comes from.

However there is a workaround:

[code]

[2020-09-25 14:24] santiagofm commented on #46224
I doubt I'll work on this bc I don't use Detox anymore for now, I encourage you to add the new types yourselves!

[2020-09-25 14:26] lincolnthree commented on #46066
I think I figured it out. PR incoming.

[2020-09-25 14:28] lincolnthree commented on #46066
@andreialecu Would you mind taking a look at the PR above? I ...believe... I've taken all the necessary precautions and this should be backwards compatible. Tested it in my code and it does resolve the issue.

[2020-09-25 14:31] andreialecu commented on #46066
I took a quick look, the problem with that approach is that usually documents are defined like:

[code]

And `mongoose.Document` already has `id?: any`. So your change will bring an `.id` to `.lean()` in every case, including the one above, which is probably incorrect. You can add a test to verify.

[2020-09-25 14:52] vavanv commented on #47339
alredy had "express": "^4.17.1", and "@types/express": "^4.17.8", but still had a problem
but adding @types/express-serve-static-core solved the problem

[2020-09-25 15:20] lincolnthree commented on #46066
Interesting, thanks for looking. I've put some more thought into this and come up with some, "probably controversial" thoughts. Apologies in advance if any of this comes across as indelicate --- I'm just trying to convey hopefully helpful thoughts.

**What I'm proposing at allows default flexibility for more use-cases without restricting types to less than what users defined. And it also effective

[2020-09-25 15:37] andreialecu commented on #46066
In that case, your PR can be much simpler and simply add `id` back without doing all the extra fancy logic. Because that's essentially what it does anyway 🙂

However, the workaround I posted above seems simpler to implement, especially considering that having an `id` field actually persisted to documents should be extremely rare among users.

Note that actually adding it back can result in either

[2020-09-25 15:47] andreialecu commented on #46066
Also note that all the virtuals and other properties defined on `MongooseDocument` are properly excluded from everywhere using similar logic to `.lean()` (this includes `.create()` and others).

Additionally, it's important to extend from `mongoose.Document` in order to retain methods such as `doc.save()` and others. If you look at all the tests, you will see they all extend from it. If you're cur

[2020-09-25 15:47] lincolnthree commented on #46066
[code]

Hmm. How would that be the case? In what scenarios is this not backwards compatible? The compilation error scenario I referenced is _existing_ functionality.

```One thing to note is that all the virtuals from MongooseDocument do need to be excluded, otherwise you get all sorts of methods and unrelated properties on the result from .lean().```

Right, I agreed with you on that (never sugge

[2020-09-25 15:49] andreialecu commented on #46066
Was there an explicit change to remove `id`? Can you link the PR?

The version you were using prior to this simply had `.lean()` typed as `any` I think.

[2020-09-25 15:50] lincolnthree commented on #46066
Yes, that's correct. Hence the ability to use and assign the 'id' property (which as we already discussed, is a valid schema document per mongodb and mongoose documentation) from `lean()` documents was removed at this point.

[2020-09-25 15:55] andreialecu commented on #46066
Someone took time to convert a type from untyped (`any`) to something that is useful. It's simply just a side-effect of how typescript and mongoose cannot 100% match in types. Sometimes workarounds are needed, it is what it is.

If you want it to be typed as `any` again, you can do a find and replace in all files:

* find `.lean(`
* replace with `.lean<any>(`

Problem solved :)

[2020-09-25 15:59] lincolnthree commented on #46066
I somewhat agree with that. Those places do exclude the virtuals, but they also don't stop you from using `id` either. There are also places where `id` virtual leaks when even when it is not enabled. (e.g. in `create()`):

[code]

Anywhere you create a new Model, you're going to get an 'id' on the type even if it's disabled, so this PR seems in line with that precedent.

I disagree entirely. You d

[2020-09-25 16:11] lincolnthree commented on #46066
Also thank you for the tip about `<Type>lean()`, that's a very simple workaround to resolve the compilation errors introduced with the original change to this method. I should have deduced we could do the same thing there.

[2020-09-25 16:12] andreialecu commented on #46066
Unless you want to rewrite the entire mongoose typings, the above affirmation is incorrect.

The difference here is that **the default is to have an `.id`** on documents, but the `.id` does not show up by default in `lean()`. I'd rather not repeat again that this cannot really be expressed in TypeScript properly, because whether it exists or not depends on a configuration setting in Mongoose. 🙂

A

[2020-09-25 16:17] lincolnthree commented on #46066
Also, just a heads up, the above does not appear to work. Create still removes the `id` property unless I am doing something wrong.

[2020-09-25 16:18] mirkode opened #48181 "[@types/lodash] interface LodashConvertible gone after making ts3.1 the default"
Hey folks,

in commit [dbc59a8](https://github.com/DefinitelyTyped/DefinitelyTyped/commit/dbc59a84fbc25c5c563909771eea0bfd69fb558f#diff-9cb49553ba96e91e0d447ea36a8d91b2) I can see that, when using ts3.1 as the default the lines

[code]
where removed from types/lodash/scripts/generate-fp.ts (116-119).

Was there a specific reason for this?

Because since then the `fp.map.convert({ cap: false })` is

[2020-09-25 16:23] lincolnthree commented on #46066
The example I provided in my last reply shows this working. How is it incorrect? (Seriously if I'm missing something I want to know.)

Here it is again. I renamed the interface for disambiguity:

[code]

I'll grant you that, except if the user has specified 'id' in their schema, in which case the virtual 'id' is _not_ added. But I don't think we're going to agree on this point, as I think we both

[2020-09-25 16:25] lincolnthree commented on #46066
Okay, I think I just realized part of where we're having a disconnect....

[2020-09-25 16:27] lincolnthree commented on #46066
It's a fundamental issue with the typings, again...

This line:
```var ModelWithOptionalDeclaredIdInSchema = mongoose.model<TypeWithOptionalDeclaredId & mongoose.Document>("ModelWithOptionalDeclaredId", {} as any);```

Should really be:
```var ModelWithOptionalDeclaredIdInSchema = mongoose.model<TypeWithOptionalDeclaredId>("ModelWithOptionalDeclaredId", {} as any);```

I really don't know why exte

[2020-09-25 16:37] andreialecu commented on #46066
[code]

Make sure you didn't wrap your `id` with `CreateQuery`.

`mongoose.model<TypeWithOptionalDeclaredId & mongoose.Document>` does work in *some* cases. But there are methods that specifically have parameters that take a `mongoose.Document`. In that case you cannot pass your type directly.

Here's an example for hooks: https://github.com/lincolnthree/DefinitelyTyped/blob/mongoose-46066/types/m

[2020-09-25 17:13] lincolnthree commented on #46066
Hmm, checking.

Right, but I think there's some conflation with the Schema definition and the Model definition. I'm defining the Schema definition as what is in the database collection/table. The Model/Document definition is the mongoose'ified version of that schema with methods, virtuals, etc.

So:
[code]

Note that `ModelType` above is the result of the call to mongoose.model. Which does not tak

[2020-09-25 17:26] lincolnthree commented on #46066
Note about the above. To make this really consistent over the entire package, many places would need to change to follow this paradigm, but I think it would worth it for the benefit in preservation of type information that allows for solving more complex scenarios like the one in this issue.

[2020-09-25 17:30] lincolnthree commented on #46066
That said, it also simplifies things significantly:

With Model defined like so:

[code]

The typings for `create()` (I think...) would look like this, and none of the fancy type manipulation would be required at all:

[code]

[2020-09-25 17:40] mirkode commented on #48181
Hey @sandersn,
I also created a small (not tested and linted yet) [PR](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/48183) with some reverted changes

[2020-09-25 17:41] Franko09 opened #48184 "default in bootstrap-datepicker"
- Authors: @jablko

If you do not mention the authors the issue will be ignored.

We do not have access to $.fn.datepicker.defaults. Can it be added?

[2020-09-25 17:46] andreialecu commented on #46066
What you're proposing may or may not work, I suggest you try it out in the actual repo and see how the test suite reacts. However, it's extremely likely to have huge breaking changes, and it's also likely you're overlooking many other things.

But, like I said, if you want to rewrite the entire mongoose type definition library, please go ahead. 🙂 These types do have various issues and many things

[2020-09-25 17:58] lincolnthree commented on #46066
Yeah, I'm sure it's a huge endeavor, no debate about that! I do think it can be done without breaking changes (I've been testing the refactoring here working in the repo, yes.)

Also, agreed 100%. I have no illusions as to the simplicity or lack thereof regarding these typings. :)

My background is in Java, and I've spent years (for better or worse) creating ... massive, extensible... APIs in a st

[2020-09-25 18:40] lincolnthree commented on #46066
Made sure this was the case. Does not appear to work. `id` is still not in the type. Does not look like this would work given the typings:

`TCreate` is always wrapped in CreateQuery, which, as I understand it will remove the 'id' property again. Maybe I'm still missing something?

[code]

[2020-09-25 22:40] sandersn commented on #48181
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/44877 added this feature in May, but failed to add it to ts3.1 (it is NOT obvious that it needed to happen there too) When I moved ts3.1 up to the root at the end of August, I overwrote this new feature.

You just need to re-do #44877.

[2020-09-26 08:52] okko commented on #48162
According to https://github.com/puppeteer/puppeteer/blob/main/docs/api.md#puppeteer-vs-puppeteer-core they should be the same thing with and without a browser download, so they should share the same API. It sounds like a good idea to alias puppeteer-core to puppeteer.

I have not used the puppeteer-core version, though. We should wait for someone else to confirm or to object.

[2020-09-26 09:37] andreialecu commented on #46066
Indeed, I overlooked that part. Forgot it was wrapped internally. 🤔

You may need to resort to using `any` via `.create<any>(...)` in this case. Not sure how to fix it otherwise.

[2020-09-26 10:11] hanreev commented on #47778
TypeScript 4.1 changes#47681

[2020-09-26 10:43] timbru31 commented on #47778
Thanks for the pointer!

[2020-09-26 15:27] nandorojo commented on #37087
This worked for me. I also added a second argument, like so:

[code]

Seems to be working for me. The only problem is I get errors in the `areEqual`, saying `T is not assignable to "view"`, so I'm not sure what it should have instead of `React.ComponentProps<T>`.

[2020-09-26 16:43] 43081j opened #48215 "question: parse5 types all dumbing down to `object`"
I'm 90% sure i've been in a thread discussing this before years ago, but couldn't find it...

What is the reason behind all parse5 types ultimately being `object`?

For example:

[code]

The fact that you did this to almost all the types means they really hold no strength. We can't possibly know that a `ChildNode` is a `DefaultTreeChildNode`. There's no way we can even do an additional condition t

[2020-09-26 17:04] pie6k commented on #37087
I ended up using this:

[code]

[2020-09-27 09:55] Maligosus opened #48251 "Property 'expiredAt' does not exist on type 'VerifyErrors'."
- [ ] I tried using the `@types/jsonwebtoken` package and had problems.
- Authors: @Maxime LUCE <https://github.com/SomaticIT>,                Daniel Heim <https://github.com/danielheim>,                Brice BERNARD <https://github.com/brikou>,Veli-Pekka Kestilä <https://github.com/vpk>,Daniel Parker<https://github.com/rlgod>,                Kjell Dießel <https://github.com/kettil>,

[2020-09-27 10:37] rauschma opened #48253 "`@types/node`: `assert.strict.equal` should not be deprecated"
- [ ] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see `Definitions by:` in `index.d.ts`) so they can respond.
  - Authors: @Flarna, @SimonSchick, @Semigradsky, @rbuckton, @mjbvz, @G-Rath, @sandersn

* `assert.strict.equal` should not be deprecated: https://nodejs.org/dist/latest-v14.x/docs/api/assert.html#assert_assert_equal_actual_expected_message
* The p

[2020-09-27 10:40] G-Rath commented on #48253
But it is deprecated...?

![Screenshot_2020-09-27-23-39-49-344_com.android.chrome.jpg](https://user-images.githubusercontent.com/3151613/94362906-d3419480-011a-11eb-962f-6d0763d28014.jpg)

(I'm on mobile so might have missed something 🙂)

[2020-09-27 10:42] rauschma commented on #48253
@G-Rath: Very easy to miss indeed! I had to check again just now.

[2020-09-27 10:42] G-Rath commented on #48253
Unfortunately there's not a lot we can do here without maybe cloning the whole type?

I would recommend just using the explicitly strict version, as my understanding is that that's the preference now anyway (which is why all non-stict methods were deprecated)

[2020-09-27 10:49] rauschma commented on #48253
Can deprecations be removed via mapped types somehow?

I don’t think that’s the case – [Node.js v15 will have `assert/strict`](https://nodejs.org/download/nightly/v15.0.0-nightly20200927af92317909/docs/api/assert.html#assert_strict_assertion_mode). I suspect that that will eventually become the new standard – along with the shorter method names. If `strictEqual` were enough/preferred, they wouldn’

[2020-09-27 13:05] Aryk commented on #21310
There is no "window" variable in React Native. How would one go about solving this error in React Native?

[2020-09-27 15:09] Dor256 commented on #46224
I can only start working on this in two weeks from now, I work closely with the Detox team so if this doesn't get addressed until I'm available I'll submit a PR

[2020-09-27 17:19] Semigradsky opened #48257 "[@types/node] Failed tests when run locally"
@sandersn @rbuckton @ExE-Boss

Currently I have these errors when run `npm run test node`:

[code]

Looks like it related to this PR: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/47645

[2020-09-27 17:54] lincolnthree commented on #46066
Hmm, thanks.

I think it could possibly be fixed like so, maybe?

[code]

I haven't tested this, just using a best-guess via how I think generic types work. Thoughts?

[2020-09-27 18:38] zacnomore commented on #45037
Looks like this issue should be closed, webpack v5 already ships types

[2020-09-28 05:48] Flarna commented on #48253
I guess the only solution is duplication. Not sure if it is possible to duplicate only the effected APIs or if it is needed to duplicate the whole assert module.

[2020-09-28 05:57] gurbaj5124871 opened #48264 "[@types/aws-lambda] Types support for aws msk events"
Recently AWS MSK has supported lambda integration: https://aws.amazon.com/blogs/compute/using-amazon-msk-as-an-event-source-for-aws-lambda/

Types for MSK as an event source are missing

Authors: @simonbuchan, @darbio, @SachinShekhar

[2020-09-28 08:31] Semigradsky commented on #48253
Possible solution:
[code]

I can send PR but the tests are failing now: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/48257

[2020-09-28 10:55] andreialecu commented on #46066
@lincolnthree that was my first attempt as well, but it doesn't work. The reason why it doesn't work is easier to see if you test it yourself :)

Basically, once you call `.create({ absolutelyAnything: "foo" })`, `TCreate` will take the type of what you passed in and just override the type parameter.

[2020-09-28 11:50] #48264 closed

[2020-09-28 13:59] alloy commented on #47953
There’s also https://github.com/DefinitelyTyped/DefinitelyTyped/issues/33015

[2020-09-28 14:22] lincolnthree commented on #46066
Ah yes, of course. Alas... I'll think about it some more when I get some more time. Thanks again for bearing with my thought process.

[2020-09-28 15:36] lincolnthree commented on #46066
I **think** this might do it:

[code]

[2020-09-28 15:37] lincolnthree commented on #46066
Not sure about side-effects.

[2020-09-28 15:42] andreialecu commented on #46066
Should be very easy run the test suite and open a PR if it works.

[2020-09-28 15:45] lincolnthree commented on #46066
Ha good call. Will do. 1 moment.

[2020-09-28 16:10] lincolnthree commented on #46066
Nope.

[2020-09-28 16:11] gongAll commented on #47778
Just a small reminder for next releases: Only release breaking changes like this whenever Typescript is also officially released, since 4.1.0 is still only the "next" version. Great job tho :)

[2020-09-28 18:16] robpc commented on #45596
@quasiunafantasia Appreciate you taking the time to write-up this issue. The gist you posted looks encouraging, but could you provide more details about how you are using it? When I add it to my project, I get errors like `Duplicate identifier 'AnyIfEmpty'.` and `Subsequent property declarations must have the same type.` which are limitations of overriding definitions according to the typescript d

[2020-09-28 19:26] pubmikeb opened #48281 "Expose SystemError, error.syscall, error.code, etc. to @types/node"
- [X] I tried using the `@types/node` package and had problems.
- Authors: @victorperin, @Touffy, @n-e, et al.

Initially, I've opened an issue at Node.js (https://github.com/nodejs/node/issues/35402), but they pointed me to the [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) project.

**Is your feature request related to a problem? Please describe.**
In `www.mjs` module I ha

[2020-09-29 05:30] ArturFormella commented on #9414
The same problem:
[code]

From package.json:
[code]

[2020-09-29 08:48] jlebras commented on #42055
If you have an already existing `User` class you can tell typescript to use it like this:

[code]

It may be basic stuff but I spend SOME time to find the correct way to do this, so I thought I would share it here.

[2020-09-29 09:11] cseas opened #48298 "react-select: properties missing in PlaceholderProps interface"
- [x] I tried using the `@types/react-select` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors

[2020-09-29 09:43] m-rutter opened #48299 "[d3-scale] Scales return `T | undefined` ?"
Is something wrong with CI or publishing infrastructure?

- Check the [Infrastructure status updates](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/44317) thread for known issues.
- Leave a message on the [DefinitelyTyped Gitter](http://gitter.im/DefinitelyTyped/DefinitelyTyped).

If you know how to fix the issue, make a pull request instead.

- [x] I tried using the `@types/xxxx` pack

[2020-09-29 09:47] Xstoudi opened #48300 "A PR introduced a bug in Mongodb typings"
- [x] I tried using the `@types/mongodb` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see

[2020-09-29 11:51] pacocom opened #48302 "@types/dygraphs is deprecated"
Need https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/dygraphs @types for https://github.com/danvk/dygraphs

Thanks.

Is something wrong with CI or publishing infrastructure?

- Check the [Infrastructure status updates](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/44317) thread for known issues.
- Leave a message on the [DefinitelyTyped Gitter](http://gitter.im/Def

[2020-09-29 12:20] Methuselah96 commented on #48299
@m-rutter `unknown` was introduced in [`2.2`](https://github.com/d3/d3-scale/releases/tag/v2.2.0) which returns `undefined` for certain unknown values like `NaN`. See https://github.com/d3/d3-scale/issues/97 for more details.

[2020-09-29 12:57] Methuselah96 commented on #48299
@m-rutter Would you like me to revert the change? While it is defined behavior, it does seem a bit of an edge case and could end up being more annoying than helpful.

[2020-09-29 13:04] jsoneaday commented on #47339
I had the same issue although I am not using nest nor did I have @types/express-serve-static-core installed. I had to install @types/express-serve-static-core for this issue to go away.
Don't understand why I need this dependency just to compile?

[2020-09-29 13:13] quasiunafantasia commented on #45596
Were are using micro frontends, so and this influenced the solution.
we included the typings patch [(gist updated)](https://gist.github.com/quasiunafantasia/877fe84833dc968c4913168867c4bc6d) into one of our libraries.
To include it in project I needed to change the type definitions lookup setting in
`tsconfig.json`  the following way:
[code]
It`s important to place the patch first. That`s weird, b

[2020-09-29 14:12] m-rutter commented on #48299
@Methuselah96

I didn't know about `unknown`, thanks for the link.

I'm not sure. I suppose it would be nice to have a `UknownProvidedContiniousScaleType<T>` and friends that returns `T` and not `T | undefined`, but that is probably difficult to implement?

I've had to add assertions in a number of places to deal with the new change because I've not had to time to figure out fallback values.

In t

[2020-09-29 14:25] Andarius opened #48309 "@types/detox type check fails because of expect being already defined"
When running `tsc -p .`, it fails with the following errors

[code]

Would it be possible to fix it by defining a definition file like this https://github.com/Andarius/DefinitelyTyped/commit/1b07f033ad1b3c2bfd6566c926b11222a87e2676 instead of global and then in tests using `import { by, device, element } from 'detox'`

Thanks !

@TareqElMasri
@stevechun
@hammadj
@santiagofm
@maxkomarychev
@Dor256

[2020-09-29 14:50] textbook commented on #47339
@jsoneaday `@types/express-serve-static-core` is a dependency of `@types/express`, see e.g. the dependencies tab on https://www.npmjs.com/package/@types/express, so even if it wasn't directly listed in your `package.json` it _will_ have been installed in `node_modules/` (and listed in `package-lock.json`/`yarn.lock`). This is also not related to Nest specifically, anyone using Express in TypeScrip

[2020-09-29 14:52] jsoneaday commented on #47339
Thank you @textbook Then if this dependency was already installed what is the minimum version of this dependency that is needed to avoid this issue? Thanks again.

[2020-09-29 14:59] Dor256 commented on #48309
@Andarius

As far as I know TS doesn't recognize that global definition so what you have to do is import those anyway.

Try importing
`expect` from detox and then compiling

[2020-09-29 15:19] Methuselah96 commented on #48299
@m-rutter Yes, I overlooked `ScaleOrdinal`, thanks for pointing that out. I made [a PR](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/48310) to fix that.

[2020-09-29 15:45] robpc commented on #45596
@quasiunafantasia Ahh thank you! Using the older version of `@types/react-redux` was the part I was missing.

[2020-09-29 16:08] eurostar-fennec-cooper commented on #4212
I'm still experiencing this issue with Typescript 3.8.7 (and even on 4.0.2) @types/express: 4.17.4.

After browsing through Express' types, they seem totally correct. Is this fundamentally a Typescript issue?

[2020-09-29 17:29] WAGuerra opened #48317 "@types/convert-units Power kW unit as kM"
I tried using the `@types/convert-units` package and had problems.

The power unit for `kW` is wrong (currently it is `kM`) resulting in a wrong conversion.

[2020-09-29 17:40] missionz3r0 opened #48319 "Encrypt Key and Decrypt Key parameters are incorrect for openpgp"
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/cb0d9cf602bc169c845b4e19abeb6682822f86b6/types/openpgp/index.d.ts#L5132

Is not accurate, decryptKey takes an object as a parameter.

See here:
https://github.com/openpgpjs/openpgpjs/blob/929b0169489caa8c1b6d3e82f23bdbc533a0f618/src/openpgp.js#L241

The same is true for EncryptKey

https://github.com/openpgpjs/openpgpjs/blob/929b0169489caa8c1

[2020-09-29 18:20] sandersn commented on #48257
Looks like you're working with an old version of DT or its dependencies. Here's the output for me:

[code]

It's not even testing 3.1 anymore.

[2020-09-29 18:34] missionz3r0 commented on #48319
Looked through previous issues and found that this is a known issue, albeit from 2017/2018. I'll take any further discussion over to those issues.

[2020-09-29 18:34] #48319 closed

[2020-09-29 18:36] krisquigley commented on #41419
This fixed my issue, thanks!

[2020-09-29 21:38] bartoszkrawczyk2 opened #48325 "[styled-components] styled component is any"
- [x] I tried using the `@types/styled-components` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the aut

[2020-09-29 23:06] #48298 closed

[2020-09-30 05:32] Ryan-Willpower commented on #48325
Do you have any reproduce version of this bug?

[2020-09-30 10:45] Andarius commented on #48309
Hey @Dor256 , it's why I'm doing currently, but it fails due to `expect` already being defined by jest.

[2020-09-30 13:24] Semigradsky commented on #48257
My fault! Looks like it was yarn cache issue or smth like this. The issue gone when I removed `node_modules` and installed dependencies via npm. Thank you!

[2020-09-30 13:24] #48257 closed

[2020-09-30 15:34] virdesai opened #48354 "react-native-actionsheet maintainer review"
Looking for a review for this super simple PR so I can remove a ts-expect-error annotation: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/48275

- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see `Definitions by:` in `index.d.ts`) so they can respond.
  - Authors: @ian-rudge

[2020-09-30 16:02] patelrikin opened #48355 "[@types/yup] Issues with predicate type after upgrading to latest 0.29.3"
- [x] I tried using the `@types/xxxx` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [ ] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).
- [x] [Mention](https://github.com/blog/821-mention-somebody-they-re-notified) the authors (see `De

[2020-09-30 16:13] ejose19 commented on #48355
For first issue, you're assigning ```code: string``` which is incorrect, just leave it as "code" (remember in tests, all properties can also be null | undefined.

[code]

For second issue, you need to use ```Boolean(value)``` or ```!!value``` or else the function will return ```string | boolean | null | undefined``` which is not the expected return value

[code]

[2020-09-30 16:21] patelrikin commented on #48355
@ejose19 Thank you for quick response, this resolves my issue. It seems that you have to force a `boolean` return value instead of relying on truthy/falsy value (which was prior allowed).

[2020-09-30 16:21] #48355 closed

[2020-09-30 18:32] tbrannam commented on #42701
Looking great, Thanks!

[2020-09-30 18:32] #42701 closed

[2020-09-30 22:42] karol-majewski commented on #31245
This didn't work for me:

[code]

I kept receiving the following error.

[code]

This worked:

[code]

[2020-10-01 04:57] Methuselah96 commented on #38939
@Ledragon I'm nearing the end of the non-`d3-array` updates. Are you planning on getting around to updating your PR or do you mind if I make my own PR if not?

[2020-10-01 06:35] peduarte commented on #31245
I've just given up completely now 🤷 Switched to using [Stitches](https://stitches.dev)

[2020-10-01 09:29] maneetgoyal commented on #32162
Hi @Ledragon, is there any road-map on how to move forward on this? (Willing to help out with anything (testing, coding, etc.) if you have other commitments at the moment.)

[2020-10-01 09:38] bartoszkrawczyk2 commented on #48325
I couldn't create a clean project to reproduce it. After 2 days it turned out to be a problem with dependencies in my project. The issue can be closed.

[2020-10-01 09:38] #48325 closed

[2020-10-01 11:05] tpluscode opened #48399 "Maintaining a types package outside of DT"
There is a package in DT (`@types/rdf-js`) which does not provide types for an NPM package but instead is a reflection of a W3C RDF/JS Working Group specifications.

That Working Group is now discussing (https://github.com/rdfjs/types/issues/1) to have more control on the authoring and publishing process of those typings more closely, with move visibility to other members of said group.

The propo

[2020-10-01 12:03] Kinetix-Lee opened #48401 "Objects within an object for MongoDB query not accepted by @types/mongoose"
- [x] I tried using the `@types/mongoose` package and had problems.
- [x] I tried using the latest stable version of tsc. https://www.npmjs.com/package/typescript
- [x] I have a question that is inappropriate for [StackOverflow](https://stackoverflow.com/).  (Please ask any appropriate questions there).

I've just experienced a problem while using `@types/mongoose`.

The second parameter for metho

[2020-10-01 14:01] raulmartinramos opened #48407 "Error with lastest version @types/d3"
With the latest version several errors araise.

Property 'event' does not exist on type
Property 'mouse' does not exist on type

[2020-10-01 14:14] andreialecu commented on #48401
This does work properly in many of my own projects, without any error. I cannot reproduce this.

[2020-10-01 14:18] Kinetix-Lee commented on #48401
I don't think that PR was the right fix either (because nobody mentioned the same question), but it worked for me...

Could this model file help?

[code]

[2020-10-01 14:21] andreialecu commented on #48401
I think your problem is that you are not specifying the actual schema:

[code]

You may also want to look into https://github.com/typegoose/typegoose which might make working with mongoose and typescript easier for you.

[2020-10-01 14:28] Kinetix-Lee commented on #48401
Thanks for your reply!

However it popped out a new error which says "Untyped function calls may not accept type arguments."

Here's the code:

[code]

By the way, I've been trying typegoose for a couple of times, but it was the same error.

[2020-10-01 14:33] Kinetix-Lee commented on #48401
Project which is having this trouble runs the latest **Egg.js** framework, with TypeScript support.

Related npm packages: `egg-mongoose` `@types/mongoose` `mongoose`

[2020-10-01 14:37] hscheuerle commented on #31065
More TLDR:
function useRef<T>(initialValue: T): MutableRefObject<T>;
function useRef<T>(initialValue: T|null): RefObject<T>;

[2020-10-01 14:38] andreialecu commented on #48401
Your `app` parameter has no type so it becomes `any`. You're destructuring `mongoose` from it, so it will also be of type `any`. You're then running into this problem: https://stackoverflow.com/questions/48228735/untyped-function-calls-may-not-accept-type-arguments-angular-5-http-calls

In general, you're not really using TypeScript properly. I would try to refactor things to properly use types as

[2020-10-01 15:44] Kinetix-Lee commented on #48401
Thanks @andreialecu , egg-mongoose makes connections for me, thus no need to connect manually.

However, I tried `@typegoose/typegoose` just now and found the following error:

`app/service/Test.ts(15,39): error TS2322: Type 'number' is not assignable to type 'undefined'.`

It's basically the same as previous ones.

Additionally, I've tested other `doc` values than `{ $inc: { count: increment } }`

[2020-10-01 15:45] andreialecu commented on #48401
If you can create a small repro repository I could take a look for you.

[2020-10-01 15:53] Kinetix-Lee commented on #48401
If you would like to, it's now ready on [https://github.com/Kinetix-Lee/egg-mongoose-ts-test](GitHub).

(English is not my native language. If there's any non-proper language because of my English level, please forgive. )

[2020-10-01 16:08] Kinetix-Lee commented on #48401
`config/config.local.js` contains MongoDB credentials.
`app/model` folder contains Mongoose models.
`app/service/Test.ts` calls the model.

[2020-10-01 17:22] sinamoeini opened #48414 "@types/d3 5.16.1 still depends on @types/d3-*"
Hi @Methuselah96

I saw that you just updated the @types/d3 package to reflect the version 2.0.0 of d3 components but `package.json` file of @types/d3 still depends on version 1 of all @types/d3-*. Therefore installing it still pulls from version 1

[2020-10-01 17:27] orta commented on #48399
1: Yes, that work ( you can use the `"types"` field in the package.json to specify the root of your d.ts files)
2: There is a process for [deprecating a types module](https://github.com/DefinitelyTyped/DefinitelyTyped#removing-a-package) - but you'll need to let people know they should switch 👍🏻

[2020-10-01 17:27] Methuselah96 commented on #48414
Yes, that's intentional. `d3@5.16.1` still depends on version 1 (or 2 in some cases) of the d3 modules. It's not until `d3@6.0.0` that they should point to version 2 of the packages. I will be releasing `@types/d3@6.0.0` once I'm finished updating all the d3 module packages to version 2. See [this issue](https://github.com/DefinitelyTyped/DefinitelyTyped/issues/38939#issuecomment-696772770) for mo

[2020-10-01 17:31] #48414 closed

[2020-10-01 20:21] #47253 closed

[2020-10-01 20:39] andreialecu commented on #48401
Your problem is that you have `count: string` when it should be `number`

[2020-10-01 21:26] #48299 closed

[2020-10-01 23:04] Kinetix-Lee commented on #48401
That was one point, but after correction the type error remained.

[2020-10-01 23:32] Kinetix-Lee commented on #48401
Change L189 in `@types/mongoose/index.d.ts`

[code]

 into

[code]

Is a workaround, but I don't understand why MongooseUpdateQuery didn't accept `object`.

[2020-10-02 00:56] Kinetix-Lee commented on #48401
It seems weird that properties of `$inc` only accept `undefined` type. @andreialecu

[code]

[2020-10-02 01:41] MrJmpl3 opened #48419 "[@types/react] Error with forwardRef & children"
When I try to use children of a component with forwardRef has the next error:

[code]

The error is in the types:

[code]

That return a type of a component without children, but is you add the children in your props with `PropsWithChildren` , exists another problem.

The `ForwardRefRenderFunction` has a duplicate `PropsWithChildren`

**Solution:**

Exists 2 ways to solve this:

1) Wrap `PropsWith

[2020-10-02 02:43] hems commented on #28884
i wish this simple solution worked for me, but for some reason it does not.

using "react": "^16.13.0", and "styled-components": "^5.0.0",

any ideas?

[2020-10-02 06:28] tpluscode commented on #48399
Thank you. In fact, I figure that we could publish a types-only `rdf-js` package. In fact it already exists but we replaced it with `@types/rdf-js` in the past. Go figure. This way no changes will be required anywhere that people already have `import {} from 'rdf-js'`, correct?

About deprecating, I read that it will be necessary to add all DT packages which depend on `@types/rdf-js` to Definitely

[2020-10-02 07:42] andreialecu commented on #48401
I don't know anything about the `egg` framework you're using, but the following is a problem:

![image](https://user-images.githubusercontent.com/697707/94898848-e34ed080-049a-11eb-88de-3467b0ffa437.png)

That shouldn't be `Model<any, ...>`. The problem is in `egg-mongoose/index.d.ts` where this is defined:

![image](https://user-images.githubusercontent.com/697707/94899024-358ff180-049b-11eb-8e80

[2020-10-02 07:49] andreialecu commented on #48401
Regarding the error:

app/service/Test.ts(15,39): error TS2322: Type 'number' is not assignable to type 'undefined'.`

The technical reason why you're seeing it in the first place is because the typings are trying to be smart and only list `number` fields in `$inc`. But since your entire model is of type `any`, there are no `number` fields it knows about.

Here's how the type looks when you're not

[2020-10-02 08:34] raulmartinramos commented on #48407
d3-selection has been changed from "d3-selection module 1.4" to "d3-selection module 2.0"  and several entries have been
removed like "export function mouse(container: ContainerElement): [number, number];"
Is it right or it is a mistake?

[2020-10-02 08:57] plonko commented on #42691
I get this error in VS Code and I'm not using Typescript :/

[2020-10-02 11:06] Kinetix-Lee commented on #48401
I got it. You've made a great workaround. It works!
By the way, would you like to [contribute](https://eggjs.org/en/contributing.html) to `egg-mongoose`'s [TS support](https://github.com/eggjs/egg-mongoose/blob/master/index.d.ts)?

[2020-10-02 12:16] morgun commented on #48407
We're hit by the same issue.

[2020-10-02 13:16] morgun commented on #48407
Fixed by manually specifying correct major version for peer dependencies
[code]

[2020-10-02 16:21] lordofpipes commented on #34924
@twhitbeck @liaozhongwu I've opened up a new pull request, this time with a new unit test.

[2020-10-02 17:31] JessicaSachs commented on #43912
This has been fixed here https://github.com/cypress-io/cypress/issues/6690

[2020-10-03 09:10] tomaszzmudzinski opened #48460 "Decrypt stopped to work after @types/crypto-js update"
Hi guys, I am wondering why this not work after @types/crypto-js@4.0.0 upgrade:

return CryptoJS.AES.decrypt(textToDecrypt, SECRET_KEY.trim()).toString(CryptoJS.enc.Utf8);

![image](https://user-images.githubusercontent.com/4519335/94987752-f4661300-0568-11eb-90e1-4540fe920264.png)

Could you tell me how to make it work after the library update?

[2020-10-03 09:41] Ledragon commented on #48407
@Methuselah96 could you check this? did you specify in d3 v5 that it depends on d3-selection v1?

[2020-10-03 09:43] Ledragon commented on #46548
@n0x3u5 could you check now? A new version of `d3-dsv` types has been published

[2020-10-03 09:46] Ledragon commented on #32162
@maneetgoyal Update of all d3 types is monitored in #38939; I would suggest to close this and track everything there, if ok for you

[2020-10-03 09:49] Ledragon commented on #38939
@Methuselah96 Thanks for the hard work, I am checking your changes, and will update my PR on `d3-array` according to your comments

[2020-10-03 10:19] maneetgoyal commented on #32162
That’s great @Ledragon. Tagging the OP @piyushgupta1 regarding your suggestion.

[2020-10-03 10:34] Ledragon commented on #38939
I updated the state-of-the-art table, we're almost there!

[2020-10-03 10:55] #34924 closed

[2020-10-03 13:43] Methuselah96 commented on #48407
There are some issues if you install older versions of `@types/d3` (e.g., `@types/d3@5.9.5`). You need to pull the latest version (`@types@5.16.2`) in order to avoid these errors.

This is unfortunate, but there is no way around it. The earlier versions of `@types/d3` did not have all of the packages that it depends on pinned to the correct major version, so it will automatically install the lates

[2020-10-03 19:57] BrkCoder commented on #8685
Do you mean [(https://github.com/mongo-js/mongojs)] , do you still needs types support ?
I am referring to this github issue: [https://github.com/mongo-js/mongojs/issues/281], apparently there was an attempt to add types to this repository, I can handle it but I need to know if it is still relevant ?

[2020-10-03 20:02] BrkCoder commented on #5360
Hey I am taking this issue as my responsibility, I would love to add types definitions for this library, I am starting to work on it right now. I will update you on my progress. 👍

[2020-10-03 20:07] BrkCoder commented on #4944
@dealloc  is it still relevant ?

[2020-10-03 20:09] BrkCoder commented on #4077
@Vadorequest is it still relevant, I would like to help and add types definition asap. :)

[2020-10-03 20:12] dealloc commented on #4944
not for me at least